# vim: fdl=1
openapi: 3.1.0
info:
  title: Talent API v2
  version: '0.12-minor'
  contact:
    email: talent@kruzhok.org
servers:
  - url: https://talent.kruzhok.org/v2
    description: Production Server
  - url: https://talent.test.kruzhok.org/v2
    description: Development Server

paths:
  /auth/login/{provider}:
    parameters:
      - $ref: '#/components/parameters/social_auth_provider'
      - name: next
        in: query
        schema:
          type: string
          description: Адрес перенаправления после завершения авторизации
      - name: reg_next
        in: query
        schema:
          type: string
          description: Адрес перенаправления для заполнения формы регистрации
      - name: err_next
        in: query
        schema:
          type: string
          description: Адрес перенаправления при завершении авторизации ошибкой
    get:
      # TODO: Cache-Control: no-store, no-cache, must-revalidate; Pragma: no-cache; Expires: 0
      operationId: LoginSocialAuth
      summary: Авторизация во внешнем провайдере
      tags: [social-auths]
      responses:
        '200':
          description: Провайдер не имеет страницы подтверждения
          content:
            text/plain:
              schema: {type: string, description: Значение параметра state}
          headers:
            Set-Cookie: {$ref: '#/components/headers/SetCookie'}
        '302':
          description: Перенаправление на страницу подтверждения авторизации
          headers:
            Location: {required: true, schema: {type: string}}
            Set-Cookie: {$ref: '#/components/headers/SetCookie'}
        '403':
          $ref: '#/components/responses/SocialAuthForbidden'
        default:
          $ref: '#/components/responses/Error'

  /auth/complete/{provider}:
    parameters:
      - $ref: '#/components/parameters/social_auth_provider'
      - name: state
        in: query
        required: true
        schema: {type: string}
      - name: csrf_state
        in: cookie
        schema: {type: string}
    get:
      # TODO: Cache-Control: no-store, no-cache, must-revalidate; Pragma: no-cache; Expires: 0
      operationId: CompleteSocialAuth
      summary: Завершение авторизации
      tags: [social-auths]
      responses:
        '302':
          description: Дальнейшее перенаправление
          headers:
            Location:
              {required: true, schema: {type: string}}
            Set-Cookie: {$ref: '#/components/headers/SetCookie'}
        '403':
          $ref: '#/components/responses/SocialAuthForbidden'
        default:
          $ref: '#/components/responses/Error'

  /auth/disconnect/{provider}/{uid}:
    parameters:
      - $ref: '#/components/parameters/social_auth_provider'
      - name: uid
        in: path
        required: true
        description: Внешний идентификатор пользователя
        schema: {type: string}
    post:
      operationId: DisconnectSocialAuth
      summary: Удаление авторизации
      description: |-
        Удаление авторизации возможно только если это не единственный оставшийся у пользователя способ аутентификации под своей учетной записью.

        Не допускается параллельная обработка запросов на удаление, в случае появления такой гонки, будет возвращен 409 ответ.
      security: [TalentOAuth: [user]]
      tags: [social-auths]
      responses:
        '204':
          description: Данные об авторизации успешно удалены
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Error'

  /auth/signup:
    get:
      # TODO: Cache-Control: no-store, no-cache, must-revalidate; Pragma: no-cache; Expires: 0
      operationId: SignupInitialData
      summary: Данные для предзаполнения формы регистрации
      tags: [user-signup]
      parameters:
        - {name: partial_token, in: query, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Данные найдены
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  oneOf:
                    - type: string
                    - type: boolean
        '204':
          description: Данные отсутствуют
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: Signup
      summary: Регистрация пользователя
      tags: [user-signup]
      parameters:
        - {name: partial_token, in: query, schema: {type: string, format: uuid}}
        - {name: utm, in: cookie, schema: {type: string}}
      requestBody: {$ref: '#/components/requestBodies/Signup'}
      responses:
        '201':
          description: Пользователь успешно зарегистрирован
          headers:
            Set-Cookie: {$ref: '#/components/headers/SetCookie'}
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  expires_in:
                    type: integer
                    format: int32
                  reg_token:
                    type: string
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        '501':
          $ref: '#/components/responses/NotImplemented'
        default:
          $ref: '#/components/responses/Error'

  /auth/confirm-email/{uid}/{token}:
    parameters:
      - {name: uid, in: path, required: true, schema: {type: string}}
      - {name: token, in: path, required: true, schema: {type: string}}
    post:
      operationId: ConfirmSignupEmail
      summary: Завершение регистрации пользователя подтверждением почты
      tags: [user-signup]
      responses:
        '201':
          description: Пользователь успешно зарегистрирован
          headers:
            Set-Cookie: {$ref: '#/components/headers/SetCookie'}
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        '501':
          $ref: '#/components/responses/NotImplemented'
        default:
          $ref: '#/components/responses/Error'

  /files:
    get:
      operationId: ListFileMeta
      summary: Список файлов
      description: |-
        #### Неаутентифицированный запрос публичных файлов

        Допускается запрос без аутентификации при соблюдении условий:
          - присутствуют значения параметра `file_id`
          - параметр `is_public` отсутствует либо содержит `true`

        При несоблюдении какого-либо из условий, возвращается `401` ответ.
      tags: [generic-files]
      security: [TalentOAuth: [files:read], {}]
      parameters:
        - name: file_id
          in: query
          description: Чтение метаинформации конкретных файлов. Значения указываются через запятую.
          explode: false
          schema: {type: array, maxItems: 30, items: {type: string, format: uuid}}
        - name: is_public
          in: query
          description: Статус публичности файла.
          schema: {type: boolean}
        - name: namespace
          in: query
          description: |-
            Пространство имен для объекта, где используется файл, в формате
            <сервис>/<таблица БД>/<поле со ссылкой на файл>
            (например, polls/questions/picture, venues/venue/cover, etc.)
          schema: {type: string}
        - name: namespace_startswith
          in: query
          description: Фильтрация по префиксной подстроке в пространстве имен.
          schema: {type: string, minLength: 3}
        - name: name_like
          in: query
          description: Фильтрация по подстроке в имени файла.
          schema: {type: string, minLength: 3}
        - name: ext
          in: query
          description: Фильтрация по точному совпадению расширения.
          schema: {type: string}
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - name: order_by
          in: query
          description: Поле, по которому будет отсортирован список файлов.
          schema:
            type: string
            default: created_at_desc
            enum:
              - created_at_asc
              - created_at_desc
              - uploaded_at_asc
              - uploaded_at_desc
              - file_id
      responses:
        '200':
          description: OK
          headers:
            X-Count: {$ref: '#/components/headers/X-Count'}
          content:
            application/json:
              schema: {type: array, items: {$ref: '#/components/schemas/FileMeta'}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: CreateFileMeta
      summary: Создание файла
      tags: [generic-files]
      security: [TalentOAuth: [files]]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - namespace
                - content_type
                - content_length
              properties:
                namespace:
                  type: string
                  description: |-
                    Пространство имен для объекта, где используется файл, в формате
                    <сервис>/<таблица БД>/<поле со ссылкой на файл>
                    (например, polls/questions/picture, venues/venue/cover, etc.)
                is_public:
                  type: boolean
                  description: Статус публичности файла.
                  default: false
                extension:
                  type: string
                  pattern: '^\.[a-zA-Z0-9]+$'
                  minLength: 2
                  maxLength: 10
                  description: Расширение файла (например, .jpg, .png, .pdf, etc.)
                content_type:
                  type: string
                  description: MIME-тип файла.
                content_length: {$ref: '#/components/schemas/ContentLength'}
                name: {$ref: '#/components/schemas/FileMetaName'}
      responses:
        '201':
          description: Метаданные файла добавлены, ссылка на загрузку сформирована.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/FileMeta'
                  - $ref: '#/components/schemas/FilePresignedRequest'
        '413':
          $ref: '#/components/responses/ContentTooLarge'
        '422':
          $ref: '#/components/responses/UnproccessableEntity'
        default:
          $ref: '#/components/responses/Error'

  /files/{file_id}:
    get:
      operationId: ReadFile
      summary: Получение ссылки на файл
      description: |-
        По-умолчанию возвращается в форме `307` ответа.
        С параметром `noredir=true` возвращается `200`.

        Чтение приватного файла требует прохождения авторизации.
        Аутентифицированный пользователь должен быть владельцем файла.
        Токен должен иметь скоуп `files:read`.
      tags: [generic-files]
      security: [TalentOAuth: [], {}]
      parameters:
        - {name: noredir, in: query, schema: {type: boolean}}
      responses:
        '200':
          description: Ссылка на файл
          content:
            application/json:
              schema: {type: string, format: uri}
        '307':
          description: Перенаправление на файл в хранилище
          headers:
            Location:
              required: true
              description: URL файла в хранилище
              schema: {type: string, format: uri}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: UploadFile
      summary: Создание запроса на загрузку файла
      description: |-
        Позволяет повторно получить ссылку на загрузку того же файла или сформировать
        ссылку для загрузки новой версии файла (того же типа, но другого размера).
      tags:
        - generic-files
      security:
        - TalentOAuth: [files]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content_length
              properties:
                content_length:
                  $ref: '#/components/schemas/ContentLength'
      responses:
        '200':
          description: Предподписанный запрос на загрузку файла
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilePresignedRequest'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          $ref: '#/components/responses/ContentTooLarge'
        '422':
          description: Файл заблокирован и недоступен для изменения
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - name: file_id
        in: path
        required: true
        description: ID файла
        schema:
          type: string
          format: uuid

  /files/{file_id}/meta:
    get:
      operationId: ReadFileMeta
      summary: Чтение информации о файле
      description: |-
        Чтение приватного файла требует прохождения авторизации.
        Аутентифицированный пользователь должен быть владельцем файла.
        Токен должен иметь скоуп `files:read`.
      tags:
        - generic-files
      security:
        - TalentOAuth: []
        - {}
      responses:
        '200':
          description: Информация о файле
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: UpdateFileMeta
      summary: Обновление информации о файле
      tags:
        - generic-files
      security:
        - TalentOAuth: [files]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  $ref: '#/components/schemas/FileMetaName'
      responses:
        '200':
          description: Файл обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMeta'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - name: file_id
        in: path
        required: true
        description: ID файла.
        schema:
          type: string
          format: uuid

  /files/{file_id}/confirm-upload:
    post:
      operationId: ConfirmFileUpload
      summary: Подтверждение загрузки файла
      tags:
        - generic-files
      security:
        - TalentOAuth: [files]
      responses:
        '200':
          description: Файл отмечен загруженным, счетчик версий обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMeta'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - name: file_id
        in: path
        required: true
        description: ID файла.
        schema:
          type: string
          format: uuid

  /files/{file_id}/references/{object_id}:
    put:
      operationId: CreateFileReference
      summary: Добавление ссылки на файл
      tags:
        - generic-files
      security:
        - TalentOAuth: [files]
      responses:
        '200':
          description: Ссылка на файл добавлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileReference'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: DeleteFileReference
      summary: Удаление ссылки на файл
      tags:
        - generic-files
      security:
        - TalentOAuth: [files]
      responses:
        '204':
          description: Ссылка на файл удалена
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - name: file_id
        in: path
        required: true
        description: ID файла
        schema:
          type: string
          format: uuid
      - name: object_id
        in: path
        required: true
        description: ID связанного объекта
        schema:
          type: string
          maxLength: 36

  /events:
    head:
      operationId: CountEvents
      summary: Счетчик мероприятий
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/event_ids'
        - $ref: '#/components/parameters/event_organization_id'
        - $ref: '#/components/parameters/event_meta_event_id'
        - $ref: '#/components/parameters/event_venue_id'
        - $ref: '#/components/parameters/event_start_before'
        - $ref: '#/components/parameters/event_end_after'
        - $ref: '#/components/parameters/event_search'
        - $ref: '#/components/parameters/event_format'
      responses:
        '200':
          description: OK
          headers:
            X-Count:
              required: true
              description: Количество входящих в выборку объектов.
              schema:
                type: integer
                format: int64
        default:
          $ref: '#/components/responses/Error'
    get:
      operationId: ListEvents
      summary: Список мероприятий
      description: |-
        Если не указан критерий сортировки результатов `order_by`,
        то он определяется в зависимости от указания других параметров.

        По-умолчанию результаты сортируются по идентификаторам в порядке возрастания (`id_asc`).
        Но если указан поисковый запрос и не используется параметр `id_offset`,
        то результаты сортируются по релевантности к поисковому запросу (`relevant`).

        При явном указании `order_by`, его значение должно соответствовать требованиям:
          - с параметром `id_offset` допускается только `order_by=id_asc`
          - вариант `order_by=relevant` доступен только при указании параметра `search`.
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/event_ids'
        - $ref: '#/components/parameters/event_organization_id'
        - $ref: '#/components/parameters/event_meta_event_id'
        - $ref: '#/components/parameters/event_venue_id'
        - $ref: '#/components/parameters/event_start_before'
        - $ref: '#/components/parameters/event_end_after'
        - $ref: '#/components/parameters/event_search'
        - $ref: '#/components/parameters/event_format'
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - name: order_by
          in: query
          schema:
            type: string
            enum:
              - relevant
              - id_asc
              - id_desc
      responses:
        '200':
          $ref: '#/components/responses/ListEvents'
        '422':
          $ref: '#/components/responses/UnproccessableEntity'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: CreateEvent
      summary: Добавление нового мероприятия
      security: [TalentOAuth: [events]]
      tags: [events-manage]
      description: |-
        При полном отсутствии в запросе массива `achievement_roles`,
        мероприятию назначаются роли достижений по-умолчанию.
        Пустой же массив приведет к созданию мероприятия без ролей.
      requestBody: {$ref: '#/components/requestBodies/EventCreate'}
      responses:
        '201':
          description: Мероприятие создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /events/addachievement:
    get:
      operationId: ListAddAchievementEvents
      summary: Список мероприятий для добавленя достижения
      description: Мероприятия, доступные для добавления достижения пользователем.
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/event_search'
        - $ref: '#/components/parameters/event_ids'
        - $ref: '#/components/parameters/event_format'
        - $ref: '#/components/parameters/event_start_before'
        - $ref: '#/components/parameters/event_end_after'
        - $ref: '#/components/parameters/brand_ids'
        - $ref: '#/components/parameters/competency_ids'
        - $ref: '#/components/parameters/region'
      responses:
        '200':
          $ref: '#/components/responses/ListAddAchievementEvents'
        default:
          $ref: '#/components/responses/Error'

  /events/calendar:
    get:
      operationId: ListCalendarEvents
      summary: Список мероприятий для календаря
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - name: order_by
          in: query
          description: Критерий сортировки результатов.
          schema:
            type: string
            default: start_asc
            enum:
              - start_asc
              - start_desc
              - title_asc
              - title_desc
      responses:
        '200':
          $ref: '#/components/responses/ListCalendarEvents'
        default:
          $ref: '#/components/responses/Error'

  /events/organizations/{organization_id}:
    get:
      operationId: ListOrganizationEvents
      summary: Список мероприятий организации
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/organization_id'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/event_ids'
        - $ref: '#/components/parameters/event_search'
        - $ref: '#/components/parameters/event_format'
        - $ref: '#/components/parameters/event_start_before'
        - $ref: '#/components/parameters/event_end_after'
        - $ref: '#/components/parameters/city'
        - name: order_by
          in: query
          description: |-
            Критерий сортировки результатов.

            При использовании текстового поиска,
            результаты будут отсортированы сначала в порядке релевантности,
            а потом в соответствии с указанным этим параметром критерием.
          schema:
            type: string
            default: 'start_desc'
            enum:
              - start_asc
              - start_desc
              - title_asc
              - title_desc
      responses:
        '200':
          $ref: '#/components/responses/ListOrganizationEvents'
        default:
          $ref: '#/components/responses/Error'

  /events/{event_id}:
    parameters:
      - $ref: '#/components/parameters/event_id'
    get:
      operationId: ReadEvent
      summary: Чтение свойств мероприятия
      tags: [events-read]
      description: |-
        По умолчанию возвращаются только метаданные.
        Для получения полного набора свойств используйте параметр `extend`.

        ### Причины 4xx ошибок

        | Код | Описание |
        | --- | -------- |
        | <nobr>`404`</nobr> | Мероприятие не найдено |
      parameters:
        - name: extend
          in: query
          description: Вернуть в ответе полный набор свойств.
          schema: {type: boolean, default: false}
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/EventMeta'
                  - $ref: '#/components/schemas/Event'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: UpdateEvent
      summary: Обновление свойств мероприятия
      security: [TalentOAuth: [events]]
      tags: [events-manage]
      requestBody: {$ref: '#/components/requestBodies/EventUpdate'}
      responses:
        '200':
          $ref: '#/components/responses/Event'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /events/{event_id}/deferred-notification:
    parameters:
      - $ref: '#/components/parameters/event_id'
    head:
      operationId: ExistsEventDeferredNotification
      summary: Проверка наличия отложенного уведомления
      tags: [events-deferred-notification]
      responses:
        '200':
          description: Уведомление существует
        '204':
          description: Уведомление отсутствует
        default:
          $ref: '#/components/responses/Error'
    get:
      operationId: ReadEventDeferredNotification
      summary: Чтение отложенного уведомления
      tags: [events-deferred-notification]
      security:
        - TalentOAuth: [events:read]
      responses:
        '200':
          $ref: '#/components/responses/EventDeferredNotification'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: CreateEventDeferredNotification
      summary: Создание отложенного уведомления
      tags: [events-deferred-notification]
      security:
        - TalentOAuth: [events]
      requestBody:
        $ref: '#/components/requestBodies/EventDeferredNotificationCreate'
      responses:
        '201':
          $ref: '#/components/responses/EventDeferredNotification'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: UpdateEventDeferredNotification
      summary: Изменение отложенного уведомления
      description: |-
        Если уведомление уже существует и оно находится в статусе `canceled`,
        оно будет переведено в статус `pending`.
      tags: [events-deferred-notification]
      security:
        - TalentOAuth: [events]
      requestBody:
        $ref: '#/components/requestBodies/EventDeferredNotificationUpdate'
      responses:
        '200':
          $ref: '#/components/responses/EventDeferredNotification'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/EventDeferredNotificationLocked'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: CancelEventDeferredNotification
      summary: Отмена запланированного уведомления
      description: |-
        Перевод уведомления из статуса `pending` в статус `canceled`.

        Если уведомление в статусе `pending` не найдено, будет возвращен `404` ответ.
      tags: [events-deferred-notification]
      security:
        - TalentOAuth: [events]
      responses:
        '200':
          $ref: '#/components/responses/EventDeferredNotification'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/EventDeferredNotificationLocked'
        default:
          $ref: '#/components/responses/Error'

  /events/{event_id}/diploma-role/{role_id}:
    put:
      operationId: AddEventDiplomaRole
      summary: Добавление роли для диплома мероприятия
      tags:
        - events-diploma-settings
      security:
        - TalentOAuth: [events]
      responses:
        '201':
          description: Роль добавлена
        '204':
          description: Роль для выдачи дипломов уже добавлена в мероприятие
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: DeleteEventDiplomaRole
      summary: Удаление роли для диплома мероприятия
      tags:
        - events-diploma-settings
      security:
        - TalentOAuth: [events]
      responses:
        '204':
          description: Роль удалена или не существовала
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/event_id'
      - name: role_id
        in: path
        description: ID роли достижения
        required: true
        schema:
          type: integer
          format: int32

  /events/{event_id}/diploma-settings:
    get:
      operationId: ReadEventDiplomaSettings
      summary: Чтение настроек дипломов мероприятия
      tags:
        - events-diploma-settings
      security:
        - TalentOAuth: [events:read]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDiplomaSettingsWithRoles'
        '204':
          description: Настройки дипломов для мероприятия отсутствуют
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: CreateEventDiplomaSettings
      summary: Создание настроек дипломов мероприятия
      tags:
        - events-diploma-settings
      security:
        - TalentOAuth: [events]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - background
              properties:
                diplomas_dark_theme:
                  type: boolean
                  description: Включить тёмную тему для дипломов
                  default: false
                background:
                  type: string
                  format: uri
                  description: Фон для дипломов
                template:
                  $ref: '#/components/schemas/DiplomaTemplate'
                diploma_issue_mode:
                  $ref: '#/components/schemas/DiplomaIssueMode'
      responses:
        '201':
          description: Настройки дипломов созданы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDiplomaSettings'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: UpdateEventDiplomaSettings
      summary: Обновление настроек дипломов мероприятия
      tags:
        - events-diploma-settings
      security:
        - TalentOAuth: [events]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                diplomas_dark_theme:
                  type: boolean
                  description: Включить тёмную тему для дипломов
                background:
                  type: string
                  format: uri
                  description: Фон для дипломов
                template:
                  $ref: '#/components/schemas/DiplomaTemplate'
                diploma_issue_mode:
                  $ref: '#/components/schemas/DiplomaIssueMode'
      responses:
        '200':
          description: Настройки дипломов обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDiplomaSettings'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/event_id'

  /events/{event_id}/fields:
    parameters:
      - $ref: '#/components/parameters/event_id'
    get:
      operationId: ListEventFields
      summary: Список полей анкеты мероприятия
      tags: [events-read]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventFieldListed'
        default:
          $ref: '#/components/responses/Error'

  /events/{event_id}/limit:
    parameters:
      - $ref: '#/components/parameters/event_id'
    get:
      operationId: ReadEventLimit
      summary: Чтение лимитов мероприятия
      tags: [events-manage]
      responses:
        '200':
          $ref: '#/components/responses/EventLimit'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: CreateEventLimit
      summary: Создание лимитов мероприятия
      description: |-
        Лимиты могут существовать только в единичном кол-ве на мероприятие.
        Попытка создать больше будет возвращать `409` ответ.
      security: [TalentOAuth: [events]]
      tags: [events-manage]
      requestBody: {$ref: '#/components/requestBodies/EventLimit'}
      responses:
        '201':
          $ref: '#/components/responses/EventLimit'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: UpdateEventLimit
      summary: Обновление лимитов мероприятия
      security: [TalentOAuth: [events]]
      tags: [events-manage]
      requestBody: {$ref: '#/components/requestBodies/EventLimit'}
      responses:
        '200':
          $ref: '#/components/responses/EventLimit'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: DeleteEventLimit
      summary: Удаление лимитов мероприятия
      security: [TalentOAuth: [events]]
      tags: [events-manage]
      responses:
        '204':
          description: Ограничения мероприятия удалены
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'

  /events/{event_id}/requests-files:
    parameters:
      - $ref: '#/components/parameters/event_id'
    get:
      operationId: ArchiveEventRequestsFiles
      summary: Скачивание архива файлов из заявок на мероприятие.
      description: 'Обязательно нужно указать один из параметров: `field_id` или `request_id`.'
      security: [TalentOAuth: [events]]
      tags: [events-manage]
      parameters:
        - {name: field_id, in: query, schema: {type: integer, format: int32}}
        - {name: request_id, in: query, schema: {type: integer, format: int32}}
      responses:
        '200':
          description: Архив для скачивания
          headers:
            Content-Disposition:
              required: true
              schema: {type: string}
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnproccessableEntity'
        default:
          $ref: '#/components/responses/Error'

  /events/{event_id}/signup:
    parameters:
      - $ref: '#/components/parameters/event_id'
    post:
      operationId: EventSignup
      summary: Создание заявки на мероприятие
      description: |-
        #### Аутентификация

        При выполнении запроса с аутентификацией,
        заявка создается для пользователя, с которым связан токен.

        Параметры, используемые для создания пользователя,
        в аутентифицированном запросе будут использованы для его обновления.

        Параметр `email` недопускается в аутентифицированных запросах.
      security: [TalentOAuth: [event-requests], {}]
      tags: [event-requests]
      parameters:
        - {name: dry_run, in: query, schema: {type: boolean},
          description: Валидация запроса без создания заявки}
        - {name: silence_notification, in: query, schema: {type: boolean},
          description: Отключение уведомления пользователя о регистрации}
        - {name: Accept-Language, in: header, schema: {type: string}}
        - {name: utm, in: cookie, schema: {type: string}}
      requestBody: {$ref: '#/components/requestBodies/EventSignup'}
      responses:
        '201':
          description: Заявка успешно создана
          content:
            application/json:
              schema: {type: integer, format: int32}
        '204':
          description: Данные dry_run запроса успешно прошли валидацию
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /events/{event_id}/teams:
    parameters:
      - $ref: '#/components/parameters/event_id'
    post:
      operationId: CreateEventTeam
      summary: Создание команды
      description: |-
        Администратор организации создает команду на мероприятие.
        В качестве капитана команды и участников указываются пользователи, имеющие заявку на это мероприятие.
      security: [TalentOAuth: [events]]
      tags: [teams-organization]
      requestBody:
        required: true
        content:
          application/json: {schema: {$ref: '#/components/schemas/OrganizationTeamCreate'}}
      responses:
        '201':
          $ref: '#/components/responses/TeamPrivate'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /events/{event_id}/teams/{team_id}:
    parameters:
      - $ref: '#/components/parameters/event_id'
      - $ref: '#/components/parameters/team_id'
    get:
      operationId: ReadEventTeam
      summary: Чтение команды с участниками
      description: |-
        Команда на мероприятие для администратора его организации.
        Включает проверку наличия актуального соглашения с организацией.

        ### Причины 4xx ошибок

        | Код | Описание |
        | --- | -------- |
        | <nobr>`403`</nobr> | Пользователь не является администратором организации |
        | <nobr>`404`</nobr> | Мероприятие не найдено |
        | <nobr>`404`</nobr> | Команда не найдена |
      security: [TalentOAuth: [events:read]]
      tags: [teams-organization]
      responses:
        '200':
          $ref: '#/components/responses/TeamPrivateWithPersons'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: UpdateEventTeam
      summary: Обновление команды
      description: |-
        Обновление свойств команды администратором организатора мероприятия.

        ### Причины 4xx ошибок

        | Код | Описание |
        | --- | -------- |
        | <nobr>`403`</nobr> | Пользователь не является администратором организации |
        | <nobr>`404`</nobr> | Мероприятие не найдено |
        | <nobr>`404`</nobr> | Команда не найдена |
        | <nobr>`409`</nobr> | У назначаемого капитаном пользователя уже имеется команда на мероприятии |
        | <nobr>`409`</nobr> | Команда с таким названием уже имеется на мероприятии |
      security: [TalentOAuth: [events]]
      tags: [teams-organization]
      requestBody:
        required: true
        content:
          application/json: {schema: {$ref: '#/components/schemas/OrganizationTeamUpdate'}}
      responses:
        '200':
          $ref: '#/components/responses/TeamPrivate'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /events/{event_id}/teams/{team_id}/persons:
    parameters:
      - $ref: '#/components/parameters/event_id'
      - $ref: '#/components/parameters/team_id'
    post:
      operationId: CreateEventTeamPerson
      summary: Добавление участника в команду
      description: |-
        Добавление в команду участника мероприятия администратором организации.

        ### Причины 4xx ошибок

        | Код | Описание |
        | --- | -------- |
        | <nobr>`403`</nobr> | Пользователь не является администратором организации |
        | <nobr>`404`</nobr> | Мероприятие не найдено |
        | <nobr>`404`</nobr> | Команда не найдена |
        | <nobr>`409`</nobr> | У добавляемого пользователя уже имеется команда на мероприятии |
        | <nobr>`422`</nobr> | Невалидный идентификатор пользователя |
      security: [TalentOAuth: [events]]
      tags: [teams-organization]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties: {user_id: {type: integer, format: int32}}
      responses:
        '201':
          $ref: '#/components/responses/TeamPerson'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /events/{event_id}/teams/{team_id}/persons/{team_person_id}:
    parameters:
      - $ref: '#/components/parameters/event_id'
      - $ref: '#/components/parameters/team_id'
      - $ref: '#/components/parameters/team_person_id'
    patch:
      operationId: UpdateEventTeamPerson
      summary: Обновление участника команды
      description: |-
        Изменение статуса участника команды администратором организации мероприятия.

        ### Причины 4xx ошибок

        | Код | Описание |
        | --- | -------- |
        | <nobr>`403`</nobr> | Пользователь не является администратором организации |
        | <nobr>`404`</nobr> | Мероприятие не найдено |
        | <nobr>`404`</nobr> | Команда не найдена |
        | <nobr>`404`</nobr> | Участник команды не найден |
        | <nobr>`409`</nobr> | У подтверждаемого пользователя уже имеется команда на мероприятии |
      security: [TalentOAuth: [teams]]
      tags: [teams-organization]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/OrganizationTeamPersonUpdate'}
      responses:
        '200':
          $ref: '#/components/responses/TeamPerson'
        default:
          $ref: '#/components/responses/Error'

  /events/confirm-signup/{event_request_id}/{token}:
    parameters:
      - {name: event_request_id, in: path, required: true, schema: {type: string}}
      - {name: token, in: path, required: true, schema: {type: string}}
    post:
      operationId: ConfirmEventSignup
      summary: Подтверждение заявки на мероприятие
      description: |-
        Для предварительной валидации запроса, без подтверждения заявки,
        нужно указать параметр `dry_run=true`.

        `4xx` ответы:

          * `404` - если не найдена подтверждаемая заявка;
          * `422` - если токен не валиден.
      tags: [event-requests]
      parameters:
        - {name: dry_run, in: query, schema: {type: boolean},
          description: Валидация запроса без подтверждения заявки}
      requestBody:
        required: false
        description: |-
          Тело запроса необходимо указывать при подтверждении заявки с созданием пользователя.

          Об этой необходимости сообщает `202` ответ `dry_run` запроса.
        content:
          application/json:
            schema:
              type: object
              required: [new_password1, new_password2]
              properties:
                new_password1: {type: string}
                new_password2: {type: string}
      responses:
        '200':
          description: Заявка подтверждена
          content:
            application/json:
              schema: {$ref: '#/components/schemas/EventSignupConfirmed'}
        '201':
          description: Заявка подтверждена. Создан новый пользователь
          content:
            application/json:
              schema: {$ref: '#/components/schemas/EventSignupConfirmed'}
        '202':
          x-summary: Запрос валидный. Необходимо задать пароль для создания пользователя
          description: Возвращается при `dry_run` запросе.
        '204':
          x-summary: Запрос валидный. Найден уже существующий пользователь
          description: Возвращается при `dry_run` запросе.
        '208':
          description: Пользователь уже зарегистрирован на мероприятие
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /events/diploma-settings:
    get:
      operationId: ListEventDiplomaSettings
      summary: Список настроек дипломов мероприятий
      tags:
        - events-diploma-settings
      security:
        - TalentOAuth: [events:read]
      parameters:
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - name: event_ids
          in: query
          explode: false
          description: ID мероприятий, записывается в формате `?event_ids=1,2,3`
          schema:
            type: array
            items:
              type: integer
              format: int32
      responses:
        '200':
          description: OK
          headers:
            X-Count:
              $ref: '#/components/headers/X-Count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventDiplomaSettingsWithRoles'
        default:
          $ref: '#/components/responses/Error'

  /events/requests/{event_request_id}:
    parameters:
      - {name: event_request_id, in: path, required: true, schema: {type: integer, format: int32}}
      - {name: fields, in: query, schema: {type: boolean}}
    get:
      operationId: ReadEventRequest
      summary: Чтение заявки на мероприятие
      security: [TalentOAuth: [event-requests]]
      tags: [event-requests]
      description: Ответ дополняется значениями заполненных в заявке полей при указании параметра `fields=true`.
      responses:
        '200':
          $ref: '#/components/responses/EventRequest'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: UpdateEventRequest
      summary: Обновление заявки на мероприятие
      description: Ответ дополняется значениями заполненных в заявке полей при указании параметра `fields=true`.
      security: [TalentOAuth: [event-requests]]
      tags: [event-requests]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/EventSignupUpdate'}
      responses:
        '200':
          $ref: '#/components/responses/EventRequest'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /event-brands:
    get:
      operationId: ListEventBrands
      summary: Список брендированных мероприятий
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/event_ids'
        - $ref: '#/components/parameters/brand_ids'
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/ListEventBrands'
        default:
          $ref: '#/components/responses/Error'

  /event-deferred-notification-templates/{name}:
    parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
          description: Имя искомого шаблона
    get:
      operationId: EventDeferredNotificationTemplateID
      summary: Идентификатор шаблона отложенного уведомления
      tags: [events-deferred-notification]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDeferredNotificationTemplateID'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'

  /event-routes:
    get:
      operationId: ListEventRoutes
      summary: Список направлений мероприятий
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/event_ids'
        - $ref: '#/components/parameters/route_ids'
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          headers:
            X-Count: {$ref: '#/components/headers/X-Count'}
          content:
            application/json:
              schema: {type: array, items: {$ref: '#/components/schemas/EventRoute'}}
        default:
          $ref: '#/components/responses/Error'

  /geo/{geodata_id}:
    parameters:
      - {name: geodata_id, in: path, required: true, schema: {type: integer, format: int32}}
    get:
      operationId: ReadGeoData
      summary: Чтение геоданных по идентификатору
      description: |-
        Все свойства, кроме отмеченных как `nullable`,
        могут содержать пустые строки в значениях.
      tags: [geodata]
      responses:
        '200':
          description: Ok
          content:
            application/json: {schema: {$ref: '#/components/schemas/GeoData'}}
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'

  /geo/fias/city/{fias}:
    parameters:
      - {name: fias, in: path, required: true, schema: {type: string, format: uuid}}
    get:
      operationId: CityName
      summary: Название города по ФИАС ID
      tags: [geodata]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required: [name, region_fias]
                properties:
                  name: {type: string}
                  region_fias: {type: string, format: uuid}
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'

  /geo/fias/region/{fias}:
    parameters:
      - {name: fias, in: path, required: true, schema: {type: string, format: uuid}}
    get:
      operationId: RegionName
      summary: Название региона по ФИАС ID
      tags: [geodata]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required: [name]
                properties: {name: {type: string}}
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'

  /geo/suggest/{field}:
    get:
      operationId: SuggestGeoField
      summary: Подсказки по геоданным
      tags: [geodata]
      parameters:
        - {name: field, in: path, required: true, schema: {
          type: string, enum: [region_with_type, city]}}
        - {name: term, in: query, required: true, schema: {
          type: string, minLength: 3}}
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {type: array, items: {type: object, required: [name], properties: {
                name: {type: string},
                fias: {type: string, format: uuid}}}}
        default:
          $ref: '#/components/responses/Error'

  /mutation-locks/{object_namespace}/{object_key}:
    parameters:
      - $ref: '#/components/parameters/mutation_lock_object_namespace'
      - $ref: '#/components/parameters/mutation_lock_object_key'
    post:
      operationId: CreateMutationLock
      summary: Блокировка файлов от изменений
      description: |-
        Блокировки создаются только для файлов, принадлежащих пользователю.
        Чужие файлы, несуществующие файлы, а так же файлы,
        для которых блокировки уже имеются,
        будут пропущены и не возвращены в теле `201` ответа.
      tags: [mutation-locks]
      security:
        - TalentOAuth: [files]
      requestBody: {$ref: '#/components/requestBodies/MutationLockCreate'}
      responses:
        '201':
          description: Идентификаторы файлов, для которых были созданы блокировки.
          content: {application/json: {schema: {$ref: '#/components/schemas/UUIDs'}}}
        '204':
          description: Ни один файл не был заблокирован.
        '409':
          description: Конфликтный запрос создания блокировки.
        '422':
          description: Указан невалидный object_namespace.
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: PatchMutationLock
      summary: Изменение состояния блокировки
      description: |-
        Изначально блокировка создается в состоянии активной.
        После создания, состояние можно декактивировать и активировать обратно.

        > Неактивная блокировка равнозначна ее отсутствию.
      tags: [mutation-locks]
      security:
        - ClientCredentials: []
      requestBody: {$ref: '#/components/requestBodies/MutationLockPatch'}
      responses:
        '200':
          $ref: '#/components/responses/MutationLockPatched'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: DeleteMutationLock
      summary: Удаление блокировки
      tags: [mutation-locks]
      security:
        - ClientCredentials: []
      responses:
        '204':
          description: Блокировка удалена
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'

  /oauth/authorize:
    get:
      # TODO: Cache-Control: no-store, no-cache, must-revalidate; Pragma: no-cache; Expires: 0
      operationId: ValidateAuthorization
      summary: Валидация авторизационных параметров
      security: [TalentOAuth: []]
      tags: [oauth]
      parameters:
        - {name: response_type, in: query, required: true, schema: {type: string}}
        - {name: redirect_uri, in: query, required: true, schema: {type: string}}
        - {name: client_id, in: query, required: true, schema: {type: string}}
        - {name: scope, in: query, schema: {type: string}}
        - {name: auto_renew, in: query, schema: {type: boolean}}
      responses:
        '200':
          description: Ok
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: AuthorizeClient
      summary: Авторизация клиента
      description: Пользователь авторизует доступ клиента к ресурсам пользователя
      security: [TalentOAuth: []]
      tags: [oauth]
      responses:
        '302':
          description: Ok
          headers:
            Location: {required: true, schema: {type: string}}
        default:
          $ref: '#/components/responses/Error'

  /oauth/issue-token:
    post:
      operationId: IssueAccessToken
      summary: Выдача токена доступа
      tags: [oauth]
      responses:
        '200': {$ref: '#/components/responses/IssueTokenSuccess'}
        '400': {$ref: '#/components/responses/IssueTokenError'}
        default:
          $ref: '#/components/responses/Error'

  /organization-subjects:
    get:
      operationId: ListOrganizationSubjects
      summary: Список связей организаций и тематик
      tags: [organization-subjects]
      parameters:
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/organization_ids'
        - $ref: '#/components/parameters/subject_ids'
      responses:
        '200':
          $ref: '#/components/responses/ListOrganizationSubjects'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: CreateOrganizationSubject
      summary: Добавление тематики для организации
      description: |-
        > Запрос необходимо выполнять от ментора или владельца организации,
        > указываемой в свойстве `organization_id` тела запроса.
      security: [TalentOAuth: [events]]
      tags: [organization-subjects]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationSubjectBody'
      responses:
        '201':
          description: Тематика добавлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSubject'
        '403':
          description: Пользователь не имеет административных прав в организаци
        '409':
          description: Тематика уже добавлена в организацию
        default:
          $ref: '#/components/responses/Error'

  /organizations:
    get:
      operationId: ListOrganizations
      summary: Список организаций
      tags: [organizations]
      parameters:
        - $ref: '#/components/parameters/organization_ids'
        - $ref: '#/components/parameters/parent_organization_id'
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - name: order_by
          in: query
          description: Критерий сортировки результатов.
          schema:
            type: string
            default: 'id_asc'
            enum:
              - id_asc
              - id_desc
      responses:
        '200':
          $ref: '#/components/responses/ListOrganizations'
        '422':
          $ref: '#/components/responses/UnproccessableEntity'
        default:
          $ref: '#/components/responses/Error'

  /organizations/{organization_id}/is-admin:
    post:
      operationId: IsOrganizationAdmin
      summary: Проверка наличия административных прав в организации
      security: [TalentOAuth: []]
      tags: [organizations]
      parameters:
        - $ref: '#/components/parameters/organization_id'
        - name: is_owner
          in: query
          description: |-
            Требование наличия или отсутствия статуса владельца организации.

            При указании значения, роль пользователя должна ему соответствовать;
            это значит что если указать `false`, а пользователь является владельцем,
            то ответ будет иметь статус `403`.
          schema:
            type: boolean
      responses:
        '200':
          description: Права администратора имеются
        '403':
          description: Права отсутствуют
        '404':
          description: Организация не найдена
        default:
          $ref: '#/components/responses/Error'

  /persons/{person_id}:
    parameters:
      - name: person_id
        in: path
        required: true
        description: ID персоны.
        schema: {type: integer, format: int32}
    get:
      operationId: ReadPerson
      summary: Чтение персоны
      description: |-
        Чтение персоны, опционально ассоциированной с пользователем.

        ### Причины 4xx ошибок

        | Код | Описание |
        | --- | -------- |
        | <nobr>`404`</nobr> | Персона не найдена |
      tags: [persons]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [user_id]
                properties:
                  user_id:
                    type: integer
                    format: int32
                    nullable: true
                    description: TalentID пользователя, которому принадлежит персона.
        default:
          $ref: '#/components/responses/Error'

  /social-auths/{talent_id}:
    parameters:
      - $ref: '#/components/parameters/talent_id'
    get:
      operationId: ListSocialAuths
      summary: Список авторизаций пользователя в соц. сетях
      security:
        - TalentOAuth: [user:read]
        - ClientCredentials: []
      tags: [social-auths]
      parameters:
        - name: provider
          in: query
          required: false
          description: Фильтрация по провайдеру авторизации
          schema: {$ref: '#/components/schemas/SocialAuthProvider'}
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Ok
          headers:
            X-Count: {$ref: '#/components/headers/X-Count'}
          content:
            application/json:
              schema: {type: array, items: {$ref: '#/components/schemas/SocialAuth'}}
        '403':
          $ref: '#/components/responses/PermissionDenied'
        default:
          $ref: '#/components/responses/Error'

  /subjects:
    get:
      operationId: ListSubjects
      summary: Список тематик для организаций
      tags: [organization-subjects]
      parameters:
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200': {$ref: '#/components/responses/ListSubjects'}
        default: {$ref: '#/components/responses/Error'}

  /teams:
    get:
      operationId: ListTeams
      summary: Список команд
      description: Все команды пользователей.
      security: [TalentOAuth: []]
      tags: [teams]
      parameters:
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/limit'
        - name: id
          in: query
          explode: false
          description: Фильтрация по массиву идентификаторов команд.
          schema: {type: array, minItems: 1, maxItems: 100, items: {type: integer, format: int32}}
        - name: order_by
          in: query
          description: Критерий сортировки результатов.
          schema: {type: string, default: 'id_asc', enum: [id_asc, id_desc]}
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {type: array, items: {$ref: '#/components/schemas/TeamPublic'}}
        default:
          $ref: '#/components/responses/Error'

  /teams/{team_id}:
    parameters:
      - {$ref: '#/components/parameters/team_id'}
    get:
      operationId: ReadTeam
      summary: Чтение команды
      description: |-
        Свойства команды, опционально содержащие список ее участников.

        ### Причины 4xx ошибок

        | Код | Описание |
        | --- | -------- |
        | <nobr>`404`</nobr> | Команда не найдена |
      security: [TalentOAuth: [], {}]
      tags: [teams]
      parameters:
        - {name: persons, in: query, schema: {type: boolean},
           description: Включить в ответ массив участников команды}
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TeamPublicWithPersons'}
        default:
          $ref: '#/components/responses/Error'

  /teams/contact-validate:
    post:
      operationId: ValidateTeamContact
      summary: Валидация контактной ссылки
      tags: [teams]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TeamContactLink'}
      responses:
        '200':
          description: Ссылка корректна для использования в качестве контактной ссылки команды
          x-summary: Ссылка прошла валидацию
        '422':
          description: Ссылка не прошла валидацию
        default:
          $ref: '#/components/responses/Error'

  /users/me/teams:
    post:
      operationId: CreateUserTeam
      summary: Создание команды
      description: |-
        Создание команды от аутентифицированного пользователя.
        Пользователь становится и ее капитаном и ее первым участником.

        ### Причины 4xx ошибок

        | Код | Описание |
        | --- | -------- |
        | <nobr>`403`</nobr> | Мероприятие завершено |
        | <nobr>`404`</nobr> | Команда не найдена |
        | <nobr>`409`</nobr> | У пользователя уже имеется команда на мероприятии |
        | <nobr>`409`</nobr> | Команда с таким названием уже имеется на мероприятии |
        | <nobr>`422`</nobr> | Невалидный идентификатор мероприятия |
        | <nobr>`422`</nobr> | Невалидная контактная ссылка |
        | <nobr>`422`</nobr> | Невалидное название команды |
        | <nobr>`422`</nobr> | Мероприятие не допускает командного участия |
        | <nobr>`422`</nobr> | Мероприятие не допускает управления параметром `assignment_participation` |
        | <nobr>`422`</nobr> | Название команды уже занято на мероприятии |
      security: [TalentOAuth: [teams]]
      tags: [teams-user]
      requestBody:
        required: true
        content:
          application/json: {schema: {$ref: '#/components/schemas/OwnerTeamCreate'}}
      responses:
        '201':
          $ref: '#/components/responses/TeamPrivate'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /users/me/teams/{team_id}:
    parameters:
      - $ref: '#/components/parameters/team_id'
    get:
      operationId: ReadUserTeam
      summary: Чтение команды
      description: |-
        Чтение команды ее участником или капитаном.

        ### Причины 4xx ошибок

        | Код | Описание |
        | --- | -------- |
        | <nobr>`403`</nobr> | Пользователь не является ни участником, ни капитаном команды |
        | <nobr>`404`</nobr> | Команда не найдена |
      security: [TalentOAuth: [teams:read]]
      tags: [teams-user]
      responses:
        '200':
          $ref: '#/components/responses/TeamPrivateWithPersons'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: UpdateUserTeam
      summary: Обновление команды
      description: |-
        Обновление свойств команды ее капитаном.

        ### Причины 4xx ошибок

        Таблица не включает в себя ошибки валидации возвращаемые с 422 статусом.

        | Код | Описание |
        | --- | -------- |
        | <nobr>`403`</nobr> | Пользователь не является капитаном команды |
        | <nobr>`403`</nobr> | Мероприятие завершено |
        | <nobr>`404`</nobr> | Команда не найдена |
        | <nobr>`409`</nobr> | У пользователя уже имеется команда на мероприятии |
        | <nobr>`409`</nobr> | Команда с таким названием уже имеется на мероприятии |
      security: [TalentOAuth: [teams]]
      tags: [teams-user]
      requestBody:
        required: true
        content:
          application/json: {schema: {$ref: '#/components/schemas/OwnerTeamUpdate'}}
      responses:
        '200':
          $ref: '#/components/responses/TeamPrivate'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /users/me/teams/{team_id}/is-owner:
    parameters:
      - $ref: '#/components/parameters/team_id'
    post:
      operationId: IsTeamOwner
      summary: Статус капитана в команде
      description: |-
        Является ли пользователь капитаном указанной команды.

        ### Причины 4xx ошибок

        | Код | Описание |
        | --- | -------- |
        | <nobr>`403`</nobr> | Пользователь не является капитаном команды |
        | <nobr>`404`</nobr> | Команда не найдена |
      security: [TalentOAuth: [teams:read]]
      tags: [teams-user]
      responses:
        '200':
          description: Пользователь является капитаном команды
        default:
          $ref: '#/components/responses/Error'

  /users/me/teams/{team_id}/persons:
    parameters:
      - $ref: '#/components/parameters/team_id'
    post:
      operationId: CreateUserTeamPerson
      summary: Добавление участника в команду
      description: |-
        Добавление в команду нового участника ее капитаном или запрос на добавление от участника.

        Запрос от участника, при наличии в нем (корректного) `invite_code`,
        не требует подтверждения со стороны капитана команды.

        Если участник уже добавлен в команду, возвращется `200` ответ.
        В том числе и когда он находится в частично отклоненном состоянии:

          - на запрос от капитана, может вернуться участник, отклонивший свое участие
          - на запрос от самого участника, может вернуться уже имеющаяся заявка на участие, отклоненная капитаном.

        ### Причины 4xx ошибок

        | Код   | Описание |
        | ----- | -------- |
        | <nobr>`403`</nobr> | Пользователь не является капитаном команды |
        | <nobr>`403`</nobr> | Мероприятие команды завершено |
        | <nobr>`404`</nobr> | Команда не найдена |
        | <nobr>`409`</nobr> | У добавляемого пользователя уже имеется команда на мероприятии |
        | <nobr>`422`</nobr> | Указан невалидный ID пользователя |
        | <nobr>`422`</nobr> | Указан неправильный инвайт-код |
        | <nobr>`422`</nobr> | У добавляемого пользователя отсутствует заявка на мероприятие команды |
        | <nobr>`422`</nobr> | Достижение допустимого количества участников команды |
        | <nobr>`422`</nobr> | Достижение допустимого количества приглашений в команду |
        | <nobr>`422`</nobr> | Достижение допустимого количества запросов в команды для пользователя |
      security: [TalentOAuth: [teams]]
      tags: [teams-user]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/OwnerTeamPersonCreate'
                - $ref: '#/components/schemas/UserTeamPersonCreate'
      responses:
        '200':
          $ref: '#/components/responses/TeamPerson'
        '201':
          $ref: '#/components/responses/TeamPerson'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /users/me/teams/{team_id}/persons/me:
    parameters:
      - $ref: '#/components/parameters/team_id'
    patch:
      operationId: UpdateUserTeamPerson
      summary: Обновление своего участия в команде
      description: |-
        Изменение статуса участия в команде от ее участника.

        ### Причины 4xx ошибок

        | Код   | Описание |
        | ----- | -------- |
        | <nobr>`403`</nobr> | Мероприятие команды завершено |
        | <nobr>`404`</nobr> | Команда не найдена |
        | <nobr>`404`</nobr> | Пользователь не является участником команды |
        | <nobr>`409`</nobr> | У пользователя уже имеется команда на мероприятии |
        | <nobr>`422`</nobr> | У пользователя отсутствует заявка на мероприятие команды |
        | <nobr>`422`</nobr> | Достижение допустимого количества участников команды |
        | <nobr>`422`</nobr> | Достижение допустимого количества запросов в команды для пользователя |
      security: [TalentOAuth: [teams]]
      tags: [teams-user]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/UserTeamPersonUpdate'}
      responses:
        '200':
          $ref: '#/components/responses/TeamPerson'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /users/me/teams/{team_id}/persons/{team_person_id}:
    parameters:
      - $ref: '#/components/parameters/team_id'
      - $ref: '#/components/parameters/team_person_id'
    patch:
      operationId: UpdateOwnerTeamPerson
      summary: Обновление участника команды
      description: |-
        Изменение статуса участника команды ее капитаном.

        ### Причины 4xx ошибок

        | Код   | Описание |
        | ----- | -------- |
        | <nobr>`403`</nobr> | Пользователь не является капитаном команды |
        | <nobr>`403`</nobr> | Мероприятие команды завершено |
        | <nobr>`404`</nobr> | Команда не найдена |
        | <nobr>`404`</nobr> | Не найден участник команды |
        | <nobr>`409`</nobr> | У пользователя уже имеется команда на мероприятии |
        | <nobr>`422`</nobr> | У пользователя отсутствует заявка на мероприятие команды |
        | <nobr>`422`</nobr> | Достижение допустимого количества участников команды |
        | <nobr>`422`</nobr> | Достижение допустимого количества приглашений в команду |
      security: [TalentOAuth: [teams]]
      tags: [teams-user]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/OwnerTeamPersonUpdate'}
      responses:
        '200':
          $ref: '#/components/responses/TeamPerson'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Error'

  /users/{talent_id}/consents:
    parameters:
      - $ref: '#/components/parameters/talent_id'
    get:
      operationId: ListUserConsents
      summary: Список согласий пользователя
      security: [TalentOAuth: [user:read]]
      tags: [user-consents]
      responses:
        '200': {$ref: '#/components/responses/ListUserConsents'}
        '403': {$ref: '#/components/responses/PermissionDenied'}
        default: {$ref: '#/components/responses/Error'}

  /users/{talent_id}/consents/{kind}:
    parameters:
      - $ref: '#/components/parameters/talent_id'
      - $ref: '#/components/parameters/user_consent_kind'
    head:
      operationId: CheckUserConsent
      summary: Проверка наличия согласия пользователя
      security: [TalentOAuth: [user:read]]
      tags: [user-consents]
      responses:
        '200': {description: Согласие имеется}
        '204': {description: Согласие отсутствует}
        '403': {$ref: '#/components/responses/PermissionDenied'}
        default: {$ref: '#/components/responses/Error'}
    post:
      operationId: SubmitUserConsent
      summary: Фиксация согласия пользователя
      security: [TalentOAuth: [user]]
      tags: [user-consents]
      responses:
        '201': {description: Согласие зафиксировано}
        '204': {description: Согласие уже было дано ранее}
        '403': {$ref: '#/components/responses/PermissionDenied'}
        default: {$ref: '#/components/responses/Error'}

components:
  schemas:
    Conflict:
      type: object
      required: [error]
      properties: {error: {type: string}}
    ContentTooLarge:
      type: object
      required: [error]
      properties: {error: {type: string}}
    Error:
      title: Стандартный формат 4xx ошибок
      type: object
      required: [error]
      properties: {error: {type: string}}
    NotFound:
      type: object
      required: [error]
      properties: {error: {type: string}}
    PermissionDenied:
      type: object
      required: [error]
      properties: {error: {type: string}}
    Unauthorized:
      type: object
      required: [error]
      properties: {error: {type: string}}
    UnproccessableEntity:
      type: object
      required: [error]
      properties: {error: {type: string}}

    geoDataRefID: &geoDataRefID
      type: integer
      format: int32
      nullable: true
      description: Опциональный ID [геоданных](#tag/geodata/operation/ReadGeoData).

    eventCreatedAt: &eventCreatedAt
      type: string
      format: date-time
      description: Дата создания.
    eventUpdatedAt: &eventUpdatedAt
      type: string
      format: date-time
      description: Дата обновления.
    eventAchievementsCount: &eventAchievementsCount
      type: integer
      format: int32
    eventAutocreateMember: &eventAutocreateMember
      type: boolean
      description: Автоматическое добавление в участники организации пользователя с подтвержденной заявки.
    eventAchievementsAllowed: &eventAchievementsAllowed
      type: boolean
      description: Допуск на создания достижений на мероприятие.
    eventAltTitle: &eventAltTitle
      type: string
      description: Альтернативное название мероприятия.
    eventCanceled: &eventCanceled
      type: boolean
      description: Статус отмены мероприятия.
    eventCover: &eventCover
      type: string
      description: Ссылка на обложку мероприятия.
    eventCreatedByID: &eventCreatedByID
      type: integer
      format: int32
      nullable: true
      description: ID автора мероприятия.
    eventDescription: &eventDescription
      type: string
      description: Описание мероприятия.
    eventDraft: &eventDraft
      type: boolean
      description: |-
        Мероприятие находится в статусе черновика.
        На такое мероприятие нельзя зарегистрироваться.
    eventEnd: &eventEnd
      type: string
      format: date-time
      nullable: true
      description: Дата окончания мероприятия.
    eventExpectedStart: &eventExpectedStart
      type: string
      format: date-time
      nullable: true
    eventHidden: &eventHidden
      type: boolean
      description: Исключение мероприятия из календаря.
    eventMaxUsers: &eventMaxUsers
      type: integer
      format: int32
      nullable: true
    eventMetaEventID: &eventMetaEventID
      type: integer
      format: int32
      nullable: true
      description: ID мета-мероприятия.
    eventNotificationEmailMessage: &eventNotificationEmailMessage
      type: string
      description: |-
        Дополнительный текст для Email уведомления о регистрации на мероприятие.

        > Текст интерпретируется в соответствии с форматом markdown.
    eventOrganizationID: &eventOrganizationID
      type: integer
      format: int32
      nullable: true
      description: ID организации мероприятия.
    eventPublic: &eventPublic
      type: boolean
      description: Статус публичности мероприятия.
    eventQuestionnaireCompletedMessage: &eventQuestionnaireCompletedMessage
      type: string
      description: Сообщение о заполненной анкете.
    eventRequestsAllowed: &eventRequestsAllowed
      type: boolean
      description: Допуск на создания заявок на мероприятие.
    eventRequestsCount: &eventRequestsCount
      type: integer
      format: int32
    eventSelfCheckIn: &eventSelfCheckIn
      type: boolean
      description: Доступность чекина
    eventSimplifiedRegistration: &eventSimplifiedRegistration
      type: boolean
      description: Доступность упрощенной регистрации на мероприятие.
    eventStart: &eventStart
      type: string
      format: date-time
      nullable: true
      description: Дата начала мероприятия.
    eventTimeMatters: &eventTimeMatters
      type: boolean
      description: Учитывается ли время или только даты в полях `start` и `end`.
    eventTitle: &eventTitle
      type: string
      description: Название мероприятия.
    eventTypeID: &eventTypeID
      type: integer
      format: int32
      nullable: true
      description: Идентификатор типа мероприятия.
    eventURL: &eventURL
      type: string
      description: Адрес online мероприятия.
    eventVenueID: &eventVenueID
      type: integer
      format: int32
      nullable: true
      description: ID [площадки](/venue-api/docs/) на которой проводится мероприятие.
    EventFormat:
      type: string
      enum:
        - ""
        - offline
        - online
      description: Формат проведения мероприятия.
      x-enumDescriptions:
        "": Значение не указано
        offline: Оффлайн мероприятие.
        online: Онлайн мероприятие.
    EventTeamAssignmentMethod:
      type: string
      enum:
        - completion
        - completion_soft
        - single
        - single_soft
      x-enumDescriptions:
        completion: Команды будут дополняться до максимального количества.
        completion_soft: |-
          Команды будут дополняться до максимального количества.
          У участников есть возможность отказаться от дополнения их команды.
        single: |-
          Команды будут создаваться только из участников-одиночек и команд из одного участника.
        single_soft: |-
          Команды будут создаваться только из участников-одиночек и команд из одного участника.
          У участников есть возможность отказаться от изменения их команды.
    EventTeamsInvolved:
      type: integer
      format: int32
      description: Формат участия.
      enum: [0, 1, 2]
      x-enumDescriptions:
        0: Допускаются и индивидуальное и командное участия
        1: Допускается только индивидуальная регистрация
        2: Допускается регистрация только в команде
    Event:
      x-tags: [events-schema]
      title: Мероприятие полностью
      allOf:
        - $ref: '#/components/schemas/EventMeta'
        - type: object
          required:
            - simplified_registration
            - autocreate_member
            - achievements_allowed
            - requests_allowed
            - self_check_in
            - teams_involved
            - owner_can_moderate
            - user_in_multiple_teams
            - mentors_allowed
            - support_i18n
            - gir_collection
            - time_matters
            - promoted
            - max_users
            - team_create_notification
            - team_assignment_method
            - achievement_roles_count
            - talent_roles_count
            - achievements_count
            - requests_count
            - expected_start
            - alt_title
            - cover
            - url
            - type_id
            - description
            - cancellation_reason
            - questionnaire_completed_message
          properties:
            simplified_registration: *eventSimplifiedRegistration
            autocreate_member: *eventAutocreateMember
            achievements_allowed: *eventAchievementsAllowed
            requests_allowed: *eventRequestsAllowed
            self_check_in: *eventSelfCheckIn
            teams_involved: {$ref: '#/components/schemas/EventTeamsInvolved'}
            owner_can_moderate: {type: boolean}
            user_in_multiple_teams: {type: boolean}
            mentors_allowed: {type: boolean}
            support_i18n: {type: boolean}
            gir_collection: {type: boolean}
            promoted: {type: boolean}
            time_matters: *eventTimeMatters
            max_users: *eventMaxUsers
            team_create_notification: {type: boolean}
            team_assignment_method: {$ref: '#/components/schemas/EventTeamAssignmentMethod'}
            achievement_roles_count: {type: integer, format: int32}
            achievements_count: *eventAchievementsCount
            requests_count: *eventRequestsCount
            expected_start: *eventExpectedStart
            alt_title: *eventAltTitle
            cover: *eventCover
            url: *eventURL
            type_id: *eventTypeID
            description: *eventDescription
            cancellation_reason: {type: string, description: Причина отмены мероприятия.}
            questionnaire_completed_message: *eventQuestionnaireCompletedMessage
    EventMeta:
      x-tags: [events-schema]
      title: Метаданные мероприятия
      type: object
      required:
        - id
        - created_at
        - updated_at
        - draft
        - public
        - hidden
        - canceled
        - title
        - start
        - end
        - format
        - organization_id
        - meta_event_id
        - created_by_id
        - geo_data_id
        - venue_id
      properties:
        id: &eventID
          type: integer
          format: int32
          description: ID мероприятия.
        created_at: *eventCreatedAt
        updated_at: *eventUpdatedAt
        draft: *eventDraft
        public: *eventPublic
        hidden: *eventHidden
        canceled: *eventCanceled
        title: *eventTitle
        start: *eventStart
        end: *eventEnd
        format: {$ref: '#/components/schemas/EventFormat'}
        organization_id: *eventOrganizationID
        meta_event_id: *eventMetaEventID
        created_by_id: *eventCreatedByID
        geo_data_id: *geoDataRefID
        venue_id: *eventVenueID
    EventWrite:
      type: object
      description: |-
        Следующие поля доступны для записи только с административной привилегией:

          - mentors_allowed
          - gir_collection
          - promoted
          - team_create_notification
      properties:
        meta_event_id: *eventMetaEventID
        draft: *eventDraft
        public: *eventPublic
        hidden: *eventHidden
        title:
          <<: *eventTitle
          minLength: 1
          maxLength: 250
        start: *eventStart
        end: *eventEnd
        format: {$ref: '#/components/schemas/EventFormat'}
        venue_id: *eventVenueID
        simplified_registration: *eventSimplifiedRegistration
        autocreate_member: *eventAutocreateMember
        achievements_allowed: *eventAchievementsAllowed
        requests_allowed: *eventRequestsAllowed
        self_check_in: *eventSelfCheckIn
        teams_involved: {$ref: '#/components/schemas/EventTeamsInvolved'}
        owner_can_moderate: {type: boolean}
        user_in_multiple_teams: {type: boolean}
        mentors_allowed: {type: boolean}  # TODO: Только для админов
        support_i18n: {type: boolean}
        gir_collection: {type: boolean}  # TODO: Только для админов
        promoted: {type: boolean}  # TODO: Только для админов
        time_matters: *eventTimeMatters
        max_users: *eventMaxUsers
        team_create_notification: {type: boolean}  # TODO: Только для админов
        team_assignment_method: {$ref: '#/components/schemas/EventTeamAssignmentMethod'}
        expected_start: *eventExpectedStart
        alt_title:
          <<: *eventAltTitle
          maxLength: 180
        url:
          <<: *eventURL
          format: uri
        type_id: *eventTypeID
        description:
          <<: *eventDescription
          maxLength: 10000
        questionnaire_completed_message:
          <<: *eventQuestionnaireCompletedMessage
          maxLength: 2500
        notification_email_message:
          <<: *eventNotificationEmailMessage
          maxLength: 1500
        cover_url:
          type: string
          format: uri
          description: Ссылка на обложку мероприятия.
        keywords: {type: string, maxLength: 200}
    AddAchievementEvent:
      type: object
      required:
        - id
        - title
        - alt_title
        - start
        - end
        - achievement_roles
      properties:
        id: *eventID
        title: *eventTitle
        alt_title: *eventAltTitle
        start: *eventStart
        end: *eventEnd
        achievement_roles: {type: array, items: {type: integer, format: int32}}
    CalendarEvent:
      type: object
      required:
        - id
        - canceled
        - title
        - alt_title
        - format
        - start
        - end
        - requests_allowed
        - expected_start
        - time_matters
        - limits
        - cover
        - city
        - brands
      properties:
        id: *eventID
        canceled: *eventCanceled
        title: *eventTitle
        alt_title: *eventAltTitle
        format: {$ref: '#/components/schemas/EventFormat'}
        start: *eventStart
        end: *eventEnd
        requests_allowed: *eventRequestsAllowed
        expected_start: *eventExpectedStart
        time_matters: *eventTimeMatters
        limits: {$ref: '#/components/schemas/EventLimitOnlyDateEndRequest'}
        cover: *eventCover
        city: {$ref: '#/components/schemas/GeodataCity'}
        brands: {type: array, items: {type: integer, format: int32}}
    OrganizationEvent:
      type: object
      required:
        - id
        - updated_at
        - draft
        - public
        - hidden
        - canceled
        - title
        - alt_title
        - start
        - end
        - format
        - organization_id
        - meta_event_id
        - achievements_allowed
        - requests_allowed
        - self_check_in
        - teams_involved
        - max_users
        - limits
        - achievements_count
        - requests_count
        - cover
        - url
        - city
        - address
        - edges_incoming
      properties:
        id: *eventID
        updated_at: *eventUpdatedAt
        draft: *eventDraft
        public: *eventPublic
        hidden: *eventHidden
        canceled: *eventCanceled
        title: *eventTitle
        alt_title: *eventAltTitle
        start: *eventStart
        end: *eventEnd
        format: {$ref: '#/components/schemas/EventFormat'}
        organization_id: *eventOrganizationID
        meta_event_id: *eventMetaEventID
        achievements_allowed: *eventAchievementsAllowed
        requests_allowed: *eventRequestsAllowed
        self_check_in: *eventSelfCheckIn
        teams_involved: {$ref: '#/components/schemas/EventTeamsInvolved'}
        max_users: *eventMaxUsers
        limits: {$ref: '#/components/schemas/EventLimitOnlyDateEndRequest'}
        achievements_count: *eventAchievementsCount
        requests_count: *eventRequestsCount
        cover: *eventCover
        url: *eventURL
        city: {$ref: '#/components/schemas/GeodataCity'}
        address: {$ref: '#/components/schemas/GeodataAddress'}
        edges_incoming: {type: array, items: {$ref: '#/components/schemas/EventEdge'}}

    eventEdgeID: &eventEdgeID
      type: integer
      format: int32
      description: Идентификатор связи/ребра.
    eventEdgeType: &eventEdgeType
      type: integer
      format: int16
      enum: [1, 2]
      x-enumDescriptions:
        1: Отбор
        2: Вложенность
      description: Тип отношения мероприятий.
    eventEdgeFrom: &eventEdgeFrom
      type: integer
      format: int32
      description: Исходная вершина.
    eventEdgeTo: &eventEdgeTo
      type: integer
      format: int32
      description: Целевая вершина.
    EventEdge:
      title: Ребро между мероприятиями
      type: object
      required:
        - id
        - type
        - from_event_id
        - to_event_id
      properties:
        id: *eventEdgeID
        type: *eventEdgeType
        from_event_id: *eventEdgeFrom
        to_event_id: *eventEdgeTo

    EventLimit:
      type: object
      required:
        - id
        - event_id
        - auto_approve
        - collect_snils
        - collect_phones
        - participant_limit
        - date_end_request
        - date_end_update
        - user_age_start
        - user_age_end
        - requires_project
        - requires_stepik
        - requires_github
        - requires_yandex
        - requires_kaggle
        - requires_leader
        - requires_vk
        - requires_telegram
        - countries
        - regions
        - cities
        - description
      properties:
        id: {type: integer, format: int32}
        event_id: *eventID
        auto_approve: &eventLimitAutoApprove
          type: boolean
          description: Автосогласование заявок.
        collect_snils: &eventLimitCollectSNILS
          type: boolean
          description: Собирать СНИЛС в заявках.
        collect_phones: &eventLimitCollectPhones
          type: boolean
          description: Собирать номера телефонов в заявках.
        participant_limit: &eventLimitParticipantLimit
          type: integer
          format: int32
          nullable: true
          description: Максимальное количество участников.
        date_end_request: &eventLimitDateEndRequest
          type: string
          format: date-time
          nullable: true
          description: Крайний срок подачи заявки.
        date_end_update: &eventLimitDateEndUpdate
          type: string
          format: date-time
          nullable: true
          description: Крайний срок обновления заявки.
        user_age_start: &eventLimitUserAgeStart
          type: integer
          format: int32
          nullable: true
          description: Минимальный возраст участника. Рассчитывается от даты начала мероприятия.
        user_age_end: &eventLimitUserAgeEnd
          type: integer
          format: int32
          nullable: true
          description: Максимальный возраст участника. Рассчитывается от даты начала мероприятия.
        requires_project: &eventLimitRequiresProject
          type: boolean
          description: Требуется проект.
        requires_stepik: &eventLimitRequiresStepik
          type: boolean
          description: Требуется учетная запись Stepik.
        requires_github: &eventLimitRequiresGitHub
          type: boolean
          description: Требуется учетная запись GitHub.
        requires_yandex: &eventLimitRequiresYandex
          type: boolean
          description: Требуется учетная запись Yandex.
        requires_kaggle: &eventLimitRequiresKaggle
          type: boolean
          description: Требуется учетная запись Kaggle.
        requires_leader: &eventLimitRequiresLeader
          type: boolean
          description: Требуется учетная запись Leader.
        requires_vk: &eventLimitRequiresVK
          type: boolean
          description: Требуется учетная запись VK.
        requires_telegram: &eventLimitRequiresTelegram
          type: boolean
          description: Требуется учетная запись Telegram.
        regions_fias: &eventLimitRegionsFIAS
          type: array
          description: ФИАС ID допускаемых к регистрации регионов.
          items: {type: string, format: uuid}
        cities_fias: &eventLimitCitiesFIAS
          type: array
          description: ФИАС ID допускаемых к регистрации городов.
          items: {type: string, format: uuid}
        countries: &eventLimitCountries
          type: array
          description: Допускаемые к регистрации страны.
          items: {type: string}
        regions: &eventLimitRegions
          type: array
          description: Допускаемые к регистрации регионы.
          items: {type: string}
        cities: &eventLimitCities
          type: array
          description: Допускаемые к регистрации города.
          items: {type: string}
        description: &eventLimitDescription
          type: string
          description: Текстовое описание ограничений по регистрации.
    EventLimitWrite:
      type: object
      properties:
        auto_approve: *eventLimitAutoApprove
        collect_snils: *eventLimitCollectSNILS
        collect_phones: *eventLimitCollectPhones
        participant_limit:
          <<: *eventLimitParticipantLimit
          minimum: 1
        date_end_request: *eventLimitDateEndRequest
        date_end_update: *eventLimitDateEndUpdate
        user_age_start: *eventLimitUserAgeStart
        user_age_end: *eventLimitUserAgeEnd
        requires_project: *eventLimitRequiresProject
        requires_stepik: *eventLimitRequiresStepik
        requires_github: *eventLimitRequiresGitHub
        requires_yandex: *eventLimitRequiresYandex
        requires_kaggle: *eventLimitRequiresKaggle
        requires_leader: *eventLimitRequiresLeader
        requires_vk: *eventLimitRequiresVK
        requires_telegram: *eventLimitRequiresTelegram
        regions_fias: *eventLimitRegionsFIAS
        cities_fias: *eventLimitCitiesFIAS
        countries: *eventLimitCountries
        regions: *eventLimitRegions
        cities: *eventLimitCities
        description: *eventLimitDescription
    EventLimitOnlyDateEndRequest:
      type: object
      required:
        - date_end_request
      properties:
        date_end_request: *eventLimitDateEndRequest

    phone: &phone
      type: string
      title: Номер телефона
    phoneUnconfirmed: &phoneUnconfirmed
      type: string
      title: Номер неподтвержденного телефона

    ContentLength:
      type: integer
      format: int32
      minimum: 1
      description: Размер файла в байтах.

    EducationalCategory:
      title: Тип образования
      description: Тип образования.
      type: string
      enum:
        - ""
        - high
        - vocational
        - secondary

    EventAchievementRole:
      type: object
      required:
        - id
        - name
      properties:
        id: {type: integer, format: int32}
        name: {type: string}

    EventBrand:
      type: object
      required:
        - id
        - event_id
        - brand_id
      properties:
        id: {type: integer, format: int32}
        event_id: *eventID
        brand_id: {type: integer, format: int32}

    EventDeferredNotification:
      title: Отложенное уведомление для участников мероприятия
      type: object
      required:
        - qstatus
        - event_id
        - created_at
        - before_start
        - receivers_cnt
        - started_at
        - finished_at
        - template
        - message
      properties:
        qstatus:
          $ref: '#/components/schemas/QueueStatus'
        event_id: *eventID
        created_at:
          type: string
          format: date-time
          description: Дата создания отложенного уведомления.
        before_start:
          $ref: '#/components/schemas/EventDeferredNotificationBeforeStart'
        receivers_cnt:
          type: integer
          format: int32
          nullable: true
          description: Кол-во отправленных уведомлений.
        started_at:
[...]
