openapi: 3.1.0
info:
  title: Talent API v2
  version: '0.11-minor'
  contact:
    email: talent@kruzhok.org
servers:
  - url: https://talent.kruzhok.org/v2
    description: Production Server
  - url: https://talent.test.kruzhok.org/v2
    description: Development Server

tags:
  - name: generic-files
    x-displayName: Файлы любого формата
    description: |-
      Файлы пользователей могут быть как приватными так и публичными.
      Публичные файлы доступны всем, в том числе и без аутентификации.
      Запрос к приватному файлу может осуществляться только от его владельца.
      Так же как и запросы на какое либо изменение файла.

      Файлы могут быть загружены в хранилище и привязаны к объектам любого сервиса.
      Как загрузить файл:
      1. Выполнить запрос на создание файла с указанием пространства имен, где он будет использован. После
      успешного добавления метаинформации о файле в ответе будет получена ссылка на загрузку файла и ID файла.
      2. Загрузить файл в хранилище, используя полученный URL и заголовки.
      3. После успешной загрузки файла сообщить об этом серверу с помощью запроса
      [/files/{file_id}/confirm-upload](#tag/generic-files/operation/FileConfirmUpload) с указанием ID файла.
      4. При необходимости можно повторно получить ссылку на загрузку того же или альтернативного файла, отправив
      запрос на [/files/{file_id}](#tag/generic-files/operation/FileUpload) с указанием его размера.
      5. Для добавления ссылки на объект (ID в пространстве имен), где файл используется, нужно выполнить запрос
      [/files/{file_id}/references/{object_id}](#tag/generic-files/operation/FileReferenceCreate). К одному файлу
      можно добавлять несколько связанных объектов.

      #### Ограничения размера загружаемых файлов

      Допустимый размер одного файла ограничен 10 мегабайтами. При его превышении возвращается 413 ответ.

      Помимо этого, 413 ответ будет возвращен и когда достигается лимит суммы размера файлов пользователя.
  - name: mutation-locks
    x-displayName: Блокировки изменений
    description: |-
      После загрузки, файл может быть заблокирован от изменений.
      Каждая блокировка относится к какому-то объекту в системе,
      для которого файл становится зависимостью.
      Таких объектов-блокировок на файл может быть назначено несколько.
      И пока есть хотя бы одна активная блокировка, файл изменить нельзя.

      Блокировка может быть снята только системой,
      ответственной за объект, на который ссылается блок.
      Для представления этой ссылки, блок имеет два свойства:

        - `object_key` - символьное представление ключа зависимого объекта;
        - `object_namespace` - пространство имен ключа, определяющее тип сущности, которую ключ идентифицирует.
  - name: event-requests
    x-displayName: Заявки на мероприятия
  - name: events-read
    x-displayName: Чтение мероприятий
  - name: events-manage
    x-displayName: Управление мероприятиями
  - name: events-schema
    x-displayName: Схемы для мероприятий
  - name: events-deferred-notification
    x-displayName: Отложенные уведомления
    description: Отложенные уведомления для участников мероприятий.
  - name: events-diploma-settings
    x-displayName: Настройки дипломов для мероприятий
  - name: oauth
    x-displayName: OAuth2 провайдер
    description: |-
      Реализация авторизационного сервера OAuth2.
      [RFC6749](https://tools.ietf.org/html/rfc6749)
      [RFC7636](https://tools.ietf.org/html/rfc7636)
  - name: organizations
    x-displayName: Операции организаций
  - name: organization-subjects
    x-displayName: Операции с тематиками организаций
  - name: persons
    x-displayName: Персоны пользователей
  - name: user-signup
    x-displayName: Регистрация пользователя
  - name: user-profile
    x-displayName: Профиль пользователя
  - name: social-auths
    x-displayName: Внешние провайдеры авторизации
  - name: teams
    x-displayName: Команды пользователей
  - name: teams-schema
    x-displayName: Схемы для команд
  - name: user-consents
    x-displayName: Пользовательские согласия
    description: |-
      Параметр `user_id` в запросе должен содержать идентификатор аутентифицированного пользователя.
  - name: auth
    x-displayName: Аутентификация
    description: |-
      ## TalentOAuth

      Аутентификация токеном TalentOAuth пользователем Таланта.
      Передается в заголовке `Authorization: Bearer` в формате JWT.

      При использовании этой аутентификации,
      авторизация сервисом выполняется в отношении пользователя,
      авторизовавшего переданный токен.

      Для получения токена нужно воспользоваться [API OAuth2 провайдера](#tag/oauth).

      ## ClientCredentials

      Аутентификация учетными данными OAuth2 клиента TalentOAuth.
      В качестве `username` используется `client_id`, а в `password` - `client_secret`.
  - name: offset
    x-displayName: Пагинация
    description: |-
      Пагинация может быть представлена как параметром `offset`, так и параметром `id_offset`.
      Параметр `offset` позволяет указать кол-во объектов для пропуска из читаемой выборки.
      В `id_offset` указывается идентификатор, до которого включительно будут пропущены объекты.

      > Предпочтительно, когда есть возможность, использовать `id_offset`.
      > Также надо учитывать, что допустимое значение для `offset` имеет ограничения.

      > У `id_offset` тоже имеется ограничение - с ним не доступны варианты сортировки результатов,
      > за исключением вариантов `id_asc` и `id_desc`.
      > Для иных значений `order_by` будет возвращаться ответ `400 Bad Request`.
    x-traitTag: true

x-tagGroups:
  - name: Общие свойства API
    tags:
      - auth
      - offset
  - name: Авторизация
    tags:
      - oauth
  - name: Мероприятия
    tags:
      - events-schema
      - events-read
      - events-manage
      - events-deferred-notification
      - events-diploma-settings
      - event-requests
  - name: Организации
    tags:
      - organizations
      - organization-subjects
  - name: Пользователи
    tags:
      - persons
      - social-auths
      - user-signup
      - user-profile
      - user-consents
  - name: Команды
    tags:
      - teams
      - teams-schema
  - name: Файлы
    tags:
      - generic-files
      - mutation-locks

paths:
  /auth/login/{provider}:
    parameters:
      - $ref: '#/components/parameters/social_auth_provider'
      - name: next
        in: query
        schema:
          type: string
          description: Адрес перенаправления после завершения авторизации
      - name: reg_next
        in: query
        schema:
          type: string
          description: Адрес перенаправления для заполнения формы регистрации
      - name: err_next
        in: query
        schema:
          type: string
          description: Адрес перенаправления при завершении авторизации ошибкой
    get:
      operationId: LoginSocialAuth
      summary: Авторизация во внешнем провайдере
      tags: [social-auths]
      responses:
        '200':
          description: Провайдер не имеет страницы подтверждения
          content:
            text/plain:
              schema: {type: string, description: Значение параметра state}
          headers:
            Set-Cookie: {$ref: '#/components/headers/SetCookie'}
        '302':
          description: Перенаправление на страницу подтверждения авторизации
          headers:
            Location: {required: true, schema: {type: string}}
            Set-Cookie: {$ref: '#/components/headers/SetCookie'}
        '403':
          $ref: '#/components/responses/SocialAuthForbidden'
        default:
          $ref: '#/components/responses/Default'

  /auth/complete/{provider}:
    parameters:
      - $ref: '#/components/parameters/social_auth_provider'
      - name: state
        in: query
        required: true
        schema: {type: string}
      - name: csrf_state
        in: cookie
        schema: {type: string}
    get:
      operationId: CompleteSocialAuth
      summary: Завершение авторизации
      tags: [social-auths]
      responses:
        '302':
          description: Дальнейшее перенаправление
          headers:
            Location:
              {required: true, schema: {type: string}}
            Set-Cookie: {$ref: '#/components/headers/SetCookie'}
        '403':
          $ref: '#/components/responses/SocialAuthForbidden'
        default:
          $ref: '#/components/responses/Default'

  /auth/disconnect/{provider}/{uid}:
    parameters:
      - $ref: '#/components/parameters/social_auth_provider'
      - name: uid
        in: path
        required: true
        description: Внешний идентификатор пользователя
        schema: {type: string}
    post:
      operationId: DisconnectSocialAuth
      summary: Удаление авторизации
      description: |-
        Удаление авторизации возможно только если это не единственный оставшийся у пользователя способ аутентификации под своей учетной записью.

        Не допускается параллельная обработка запросов на удаление, в случае появления такой гонки, будет возвращен 409 ответ.
      security: [TalentOAuth: [user]]
      tags: [social-auths]
      responses:
        '204':
          description: Данные об авторизации успешно удалены
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Default'

  /auth/signup:
    get:
      operationId: SignupInitialData
      summary: Данные для предзаполнения формы регистрации
      tags: [user-signup]
      parameters:
        - {name: partial_token, in: query, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Данные найдены
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  oneOf:
                    - type: string
                    - type: boolean
        '204':
          description: Данные отсутствуют
        default:
          $ref: '#/components/responses/Default'
    post:
      operationId: Signup
      summary: Регистрация пользователя
      tags: [user-signup]
      parameters:
        - {name: partial_token, in: query, schema: {type: string, format: uuid}}
        - {name: utm, in: cookie, schema: {type: string}}
      requestBody: {$ref: '#/components/requestBodies/Signup'}
      responses:
        '201':
          description: Пользователь успешно зарегистрирован
          headers:
            Set-Cookie: {$ref: '#/components/headers/SetCookie'}
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  expires_in:
                    type: integer
                    format: int32
                  reg_token:
                    type: string
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        '501':
          $ref: '#/components/responses/NotImplemented'
        default:
          $ref: '#/components/responses/Default'

  /auth/confirm-email/{uid}/{token}:
    parameters:
      - {name: uid, in: path, required: true, schema: {type: string}}
      - {name: token, in: path, required: true, schema: {type: string}}
    post:
      operationId: ConfirmSignupEmail
      summary: Завершение регистрации пользователя подтверждением почты
      tags: [user-signup]
      responses:
        '201':
          description: Пользователь успешно зарегистрирован
          headers:
            Set-Cookie: {$ref: '#/components/headers/SetCookie'}
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        '501':
          $ref: '#/components/responses/NotImplemented'
        default:
          $ref: '#/components/responses/Default'

  /files:
    get:
      operationId: ListFileMeta
      summary: Список файлов
      description: |-
        #### Неаутентифицированный запрос публичных файлов

        Допускается запрос без аутентификации при соблюдении условий:
          - присутствуют значения параметра `file_id`
          - параметр `is_public` отсутствует либо содержит `true`

        При несоблюдении какого-либо из условий, возвращается `401` ответ.
      tags:
        - generic-files
      security:
        - TalentOAuth: [files:read]
        - {}
      parameters:
        - name: file_id
          in: query
          description: Чтение метаинформации конкретных файлов. Значения указываются через запятую.
          explode: false
          schema:
            type: array
            maxItems: 30
            items:
              type: string
              format: uuid
        - name: is_public
          in: query
          description: Статус публичности файла.
          schema:
            type: boolean
        - name: namespace
          in: query
          description: |-
            Пространство имен для объекта, где используется файл, в формате
            <сервис>/<таблица БД>/<поле со ссылкой на файл>
            (например, polls/questions/picture, venues/venue/cover, etc.)
          schema:
            type: string
        - name: namespace_startswith
          in: query
          description: Фильтрация по префиксной подстроке в пространстве имен.
          schema:
            type: string
            minLength: 3
        - name: name_like
          in: query
          description: Фильтрация по подстроке в имени файла.
          schema:
            type: string
            minLength: 3
        - name: ext
          in: query
          description: Фильтрация по точному совпадению расширения.
          schema:
            type: string
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - name: order_by
          in: query
          description: Поле, по которому будет отсортирован список файлов.
          schema:
            type: string
            default: created_at_desc
            enum:
              - created_at_asc
              - created_at_desc
              - uploaded_at_asc
              - uploaded_at_desc
              - file_id
      responses:
        '200':
          description: OK
          headers:
            X-Count:
              $ref: '#/components/headers/X-Count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Default'
    post:
      operationId: CreateFileMeta
      summary: Создание файла
      tags:
        - generic-files
      security:
        - TalentOAuth: [files]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - namespace
                - content_type
                - content_length
              properties:
                namespace:
                  type: string
                  description: |-
                    Пространство имен для объекта, где используется файл, в формате
                    <сервис>/<таблица БД>/<поле со ссылкой на файл>
                    (например, polls/questions/picture, venues/venue/cover, etc.)
                is_public:
                  type: boolean
                  description: Статус публичности файла.
                  default: false
                extension:
                  type: string
                  pattern: '^\.[a-zA-Z0-9]+$'
                  minLength: 2
                  maxLength: 10
                  description: Расширение файла (например, .jpg, .png, .pdf, etc.)
                content_type:
                  type: string
                  description: MIME-тип файла.
                content_length:
                  $ref: '#/components/schemas/ContentLength'
                name:
                  $ref: '#/components/schemas/FileMetaName'
      responses:
        '201':
          description: Метаданные файла добавлены, ссылка на загрузку сформирована.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/FileMeta'
                  - $ref: '#/components/schemas/FilePresignedRequest'
        '413':
          $ref: '#/components/responses/ContentTooLarge'
        '422':
          $ref: '#/components/responses/UnproccessableEntity'
        default:
          $ref: '#/components/responses/Default'
  /files/{file_id}:
    get:
      operationId: ReadFile
      summary: Получение ссылки на файл
      description: |-
        По-умолчанию возвращается в форме `307` ответа.
        С параметром `noredir=true` возвращается `200`.

        Чтение приватного файла требует прохождение авторизации.
        Аутентифицированный пользователь должен быть владельцем файла.
      tags:
        - generic-files
      security:
        - TalentOAuth: [files:read] # Непонятно нужен ли скоуп
        - {}
      parameters:
        - name: noredir
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Ссылка на файл
          content:
            application/json:
              schema:
                type: string
                format: uri
        '307':
          description: Перенаправление на файл в хранилище
          headers:
            Location:
              required: true
              description: URL файла в хранилище
              schema:
                type: string
                format: uri
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    put:
      operationId: UploadFile
      summary: Создание запроса на загрузку файла
      description: |-
        Позволяет повторно получить ссылку на загрузку того же файла или сформировать
        ссылку для загрузки новой версии файла (того же типа, но другого размера).
      tags:
        - generic-files
      security:
        - TalentOAuth: [files]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content_length
              properties:
                content_length:
                  $ref: '#/components/schemas/ContentLength'
      responses:
        '200':
          description: Предподписанный запрос на загрузку файла
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilePresignedRequest'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          $ref: '#/components/responses/ContentTooLarge'
        '422':
          description: Файл заблокирован и недоступен для изменения
        default:
          $ref: '#/components/responses/Default'
    parameters:
      - name: file_id
        in: path
        required: true
        description: ID файла
        schema:
          type: string
          format: uuid
  /files/{file_id}/meta:
    get:
      operationId: ReadFileMeta
      summary: Чтение информации о файле
      description: |-
        Чтение приватного файла требует прохождение авторизации.
        Аутентифицированный пользователь должен быть владельцем файла.
      tags:
        - generic-files
      security:
        - TalentOAuth: [files:read] # Непонятно нужен ли скоуп
        - {}
      responses:
        '200':
          description: Информация о файле
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    patch:
      operationId: UpdateFileMeta
      summary: Обновление информации о файле
      tags:
        - generic-files
      security:
        - TalentOAuth: [files]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  $ref: '#/components/schemas/FileMetaName'
      responses:
        '200':
          description: Файл обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMeta'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    parameters:
      - name: file_id
        in: path
        required: true
        description: ID файла.
        schema:
          type: string
          format: uuid
  /files/{file_id}/confirm-upload:
    post:
      operationId: ConfirmFileUpload
      summary: Подтверждение загрузки файла
      tags:
        - generic-files
      security:
        - TalentOAuth: [files]
      responses:
        '200':
          description: Файл отмечен загруженным, счетчик версий обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMeta'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    parameters:
      - name: file_id
        in: path
        required: true
        description: ID файла.
        schema:
          type: string
          format: uuid
  /files/{file_id}/references/{object_id}:
    put:
      operationId: CreateFileReference
      summary: Добавление ссылки на файл
      tags:
        - generic-files
      security:
        - TalentOAuth: [files]
      responses:
        '200':
          description: Ссылка на файл добавлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileReference'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Default'
    delete:
      operationId: DeleteFileReference
      summary: Удаление ссылки на файл
      tags:
        - generic-files
      security:
        - TalentOAuth: [files]
      responses:
        '204':
          description: Ссылка на файл удалена
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    parameters:
      - name: file_id
        in: path
        required: true
        description: ID файла
        schema:
          type: string
          format: uuid
      - name: object_id
        in: path
        required: true
        description: ID связанного объекта
        schema:
          type: string
          maxLength: 36
  /events/diploma-settings:
    get:
      operationId: ListEventDiplomaSettings
      summary: Список настроек дипломов мероприятий
      tags:
        - events-diploma-settings
      security:
        - TalentOAuth: [events:read]
      parameters:
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - name: event_ids
          in: query
          explode: false
          description: ID мероприятий, записывается в формате `?event_ids=1,2,3`
          schema:
            type: array
            items:
              type: integer
              format: int32
      responses:
        '200':
          description: OK
          headers:
            X-Count:
              $ref: '#/components/headers/X-Count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventDiplomaSettingsWithRoles'
        default:
          $ref: '#/components/responses/Default'
  /events:
    head:
      operationId: CountEvents
      summary: Счетчик мероприятий
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/event_ids'
        - $ref: '#/components/parameters/event_organization_id'
        - $ref: '#/components/parameters/event_meta_event_id'
        - $ref: '#/components/parameters/event_venue_id'
        - $ref: '#/components/parameters/event_start_before'
        - $ref: '#/components/parameters/event_end_after'
        - $ref: '#/components/parameters/event_search'
        - $ref: '#/components/parameters/event_format'
      responses:
        '200':
          description: OK
          headers:
            X-Count:
              required: true
              description: Количество входящих в выборку объектов.
              schema:
                type: integer
                format: int64
        default:
          $ref: '#/components/responses/Default'
    get:
      operationId: ListEvents
      summary: Список мероприятий
      description: |-
        Если не указан критерий сортировки результатов `order_by`,
        то он определяется в зависимости от указания других параметров.

        По-умолчанию результаты сортируются по идентификаторам в порядке возрастания (`id_asc`).
        Но если указан поисковый запрос и не используется параметр `id_offset`,
        то результаты сортируются по релевантности к поисковому запросу (`relevant`).

        При явном указании `order_by`, его значение должно соответствовать требованиям:
          - с параметром `id_offset` допускается только `order_by=id_asc`
          - вариант `order_by=relevant` доступен только при указании параметра `search`.
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/event_ids'
        - $ref: '#/components/parameters/event_organization_id'
        - $ref: '#/components/parameters/event_meta_event_id'
        - $ref: '#/components/parameters/event_venue_id'
        - $ref: '#/components/parameters/event_start_before'
        - $ref: '#/components/parameters/event_end_after'
        - $ref: '#/components/parameters/event_search'
        - $ref: '#/components/parameters/event_format'
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - name: order_by
          in: query
          schema:
            type: string
            enum:
              - relevant
              - id_asc
              - id_desc
      responses:
        '200':
          $ref: '#/components/responses/ListEvents'
        '422':
          $ref: '#/components/responses/UnproccessableEntity'
        default:
          $ref: '#/components/responses/Default'
    post:
      operationId: CreateEvent
      summary: Добавление нового мероприятия
      security: [TalentOAuth: [events]]
      tags: [events-manage]
      description: |-
        При полном отсутствии в запросе массива `achievement_roles`,
        мероприятию назначаются роли достижений по-умолчанию.
        Пустой же массив приведет к созданию мероприятия без ролей.
      requestBody: {$ref: '#/components/requestBodies/EventCreate'}
      responses:
        '201':
          description: Мероприятие создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Default'
  /events/addachievement:
    get:
      operationId: ListAddAchievementEvents
      summary: Список мероприятий для добавленя достижения
      description: Мероприятия, доступные для добавления достижения пользователем.
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/event_search'
        - $ref: '#/components/parameters/event_ids'
        - $ref: '#/components/parameters/event_format'
        - $ref: '#/components/parameters/event_start_before'
        - $ref: '#/components/parameters/event_end_after'
        - $ref: '#/components/parameters/brand_ids'
        - $ref: '#/components/parameters/competency_ids'
        - $ref: '#/components/parameters/region'
      responses:
        '200':
          $ref: '#/components/responses/ListAddAchievementEvents'
        default:
          $ref: '#/components/responses/Default'
  /events/calendar:
    get:
      operationId: ListCalendarEvents
      summary: Список мероприятий для календаря
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - name: order_by
          in: query
          description: Критерий сортировки результатов.
          schema:
            type: string
            default: start_asc
            enum:
              - start_asc
              - start_desc
              - title_asc
              - title_desc
      responses:
        '200':
          $ref: '#/components/responses/ListCalendarEvents'
        default:
          $ref: '#/components/responses/Default'
  /events/organizations/{organization_id}:
    get:
      operationId: ListOrganizationEvents
      summary: Список мероприятий организации
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/organization_id'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/event_ids'
        - $ref: '#/components/parameters/event_search'
        - $ref: '#/components/parameters/event_format'
        - $ref: '#/components/parameters/event_start_before'
        - $ref: '#/components/parameters/event_end_after'
        - $ref: '#/components/parameters/city'
        - name: order_by
          in: query
          description: |-
            Критерий сортировки результатов.

            При использовании текстового поиска,
            результаты будут отсортированы сначала в порядке релевантности,
            а потом в соответствии с указанным этим параметром критерием.
          schema:
            type: string
            default: 'start_desc'
            enum:
              - start_asc
              - start_desc
              - title_asc
              - title_desc
      responses:
        '200':
          $ref: '#/components/responses/ListOrganizationEvents'
        default:
          $ref: '#/components/responses/Default'
  /events/{event_id}:
    get:
      operationId: ReadEvent
      summary: Чтение свойств мероприятия
      tags: [events-read]
      description: |-
        По умолчанию возвращаются только метаданные.
        Для получения полного набора свойств используйте параметр `extend`.
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/EventMeta'
                  - $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    parameters:
      - $ref: '#/components/parameters/event_id'
      - name: extend
        in: query
        description: Вернуть в ответе полный набор свойств.
        schema:
          type: boolean
          default: false
  /events/{event_id}/deferred-notification:
    parameters:
      - $ref: '#/components/parameters/event_id'
    head:
      operationId: ExistsEventDeferredNotification
      summary: Проверка наличия отложенного уведомления
      tags: [events-deferred-notification]
      responses:
        '200':
          description: Уведомление существует
        '204':
          description: Уведомление отсутствует
        default:
          $ref: '#/components/responses/Default'
    get:
      operationId: ReadEventDeferredNotification
      summary: Чтение отложенного уведомления
      tags: [events-deferred-notification]
      security:
        - TalentOAuth: [events:read]
      responses:
        '200':
          $ref: '#/components/responses/EventDeferredNotification'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    post:
      operationId: CreateEventDeferredNotification
      summary: Создание отложенного уведомления
      tags: [events-deferred-notification]
      security:
        - TalentOAuth: [events]
      requestBody:
        $ref: '#/components/requestBodies/EventDeferredNotificationCreate'
      responses:
        '201':
          $ref: '#/components/responses/EventDeferredNotification'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Default'
    patch:
      operationId: UpdateEventDeferredNotification
      summary: Изменение отложенного уведомления
      description: |-
        Если уведомление уже существует и оно находится в статусе `canceled`,
        оно будет переведено в статус `pending`.
      tags: [events-deferred-notification]
      security:
        - TalentOAuth: [events]
      requestBody:
        $ref: '#/components/requestBodies/EventDeferredNotificationUpdate'
      responses:
        '200':
          $ref: '#/components/responses/EventDeferredNotification'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/EventDeferredNotificationLocked'
        default:
          $ref: '#/components/responses/Default'
    delete:
      operationId: CancelEventDeferredNotification
      summary: Отмена запланированного уведомления
      description: |-
        Перевод уведомления из статуса `pending` в статус `canceled`.

        Если уведомление в статусе `pending` не найдено, будет возвращен `404` ответ.
      tags: [events-deferred-notification]
      security:
        - TalentOAuth: [events]
      responses:
        '200':
          $ref: '#/components/responses/EventDeferredNotification'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/EventDeferredNotificationLocked'
        default:
          $ref: '#/components/responses/Default'
  /events/{event_id}/diploma-role/{role_id}:
    put:
      operationId: AddEventDiplomaRole
      summary: Добавление роли для диплома мероприятия
      tags:
        - events-diploma-settings
      security:
        - TalentOAuth: [events]
      responses:
        '201':
          description: Роль добавлена
        '204':
          description: Роль для выдачи дипломов уже добавлена в мероприятие
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    delete:
      operationId: DeleteEventDiplomaRole
      summary: Удаление роли для диплома мероприятия
      tags:
        - events-diploma-settings
      security:
        - TalentOAuth: [events]
      responses:
        '204':
          description: Роль удалена или не существовала
        default:
          $ref: '#/components/responses/Default'
    parameters:
      - $ref: '#/components/parameters/event_id'
      - name: role_id
        in: path
        description: ID роли достижения
        required: true
        schema:
          type: integer
          format: int32
  /events/{event_id}/diploma-settings:
    get:
      operationId: ReadEventDiplomaSettings
      summary: Чтение настроек дипломов мероприятия
      tags:
        - events-diploma-settings
      security:
        - TalentOAuth: [events:read]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDiplomaSettingsWithRoles'
        '204':
          description: Настройки дипломов для мероприятия отсутствуют
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    post:
      operationId: CreateEventDiplomaSettings
      summary: Создание настроек дипломов мероприятия
      tags:
        - events-diploma-settings
      security:
        - TalentOAuth: [events]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - background
              properties:
                diplomas_dark_theme:
                  type: boolean
                  description: Включить тёмную тему для дипломов
                  default: false
                background:
                  type: string
                  format: uri
                  description: Фон для дипломов
                template:
                  $ref: '#/components/schemas/DiplomaTemplate'
                diploma_issue_mode:
                  $ref: '#/components/schemas/DiplomaIssueMode'
      responses:
        '201':
          description: Настройки дипломов созданы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDiplomaSettings'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Default'
    patch:
      operationId: UpdateEventDiplomaSettings
      summary: Обновление настроек дипломов мероприятия
      tags:
        - events-diploma-settings
      security:
        - TalentOAuth: [events]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                diplomas_dark_theme:
                  type: boolean
                  description: Включить тёмную тему для дипломов
                background:
                  type: string
                  format: uri
                  description: Фон для дипломов
                template:
                  $ref: '#/components/schemas/DiplomaTemplate'
                diploma_issue_mode:
                  $ref: '#/components/schemas/DiplomaIssueMode'
      responses:
        '200':
          description: Настройки дипломов обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDiplomaSettings'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    parameters:
      - $ref: '#/components/parameters/event_id'
  /events/{event_id}/fields:
    parameters:
      - $ref: '#/components/parameters/event_id'
    get:
      operationId: ListEventFields
      summary: Список полей анкеты мероприятия
      tags: [events-read]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventFieldListed'
        default:
          $ref: '#/components/responses/Default'
  /events/{event_id}/limit:
    parameters:
      - $ref: '#/components/parameters/event_id'
    get:
      operationId: ReadEventLimit
      summary: Чтение лимитов мероприятия
      tags: [events-manage]
      responses:
        '200':
          $ref: '#/components/responses/EventLimit'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    post:
      operationId: CreateEventLimit
      summary: Создание лимитов мероприятия
      description: |-
        Лимиты могут существовать только в единичном кол-ве на мероприятие.
        Попытка создать больше будет возвращать `409` ответ.
      security: [TalentOAuth: [events]]
      tags: [events-manage]
      requestBody: {$ref: '#/components/requestBodies/EventLimit'}
      responses:
        '201':
          $ref: '#/components/responses/EventLimit'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Default'
    patch:
      operationId: UpdateEventLimit
      summary: Обновление лимитов мероприятия
      security: [TalentOAuth: [events]]
      tags: [events-manage]
      requestBody: {$ref: '#/components/requestBodies/EventLimit'}
      responses:
        '200':
          $ref: '#/components/responses/EventLimit'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Default'
    delete:
      operationId: DeleteEventLimit
      summary: Удаление лимитов мероприятия
      security: [TalentOAuth: [events]]
      tags: [events-manage]
      responses:
        '204':
          description: Ограничения мероприятия удалены
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'

  /events/{event_id}/signup:
    parameters:
      - $ref: '#/components/parameters/event_id'
    post:
      operationId: EventSignup
      summary: Создание заявки на мероприятие
      description: |-
        #### Аутентификация

        При выполнении запроса с аутентификацией,
        заявка создается для пользователя, с которым связан токен.

        Параметры, используемые для создания пользователя,
        в аутентифицированном запросе будут использованы для его обновления.

        Параметр `email` недопускается в аутентифицированных запросах.
      security: [TalentOAuth: [event-requests], {}]
      tags: [event-requests]
      parameters:
        - name: dry_run
          in: query
          description: Валидация запроса без создания заявки
          schema:
            type: boolean
        - name: silence_notification
          in: query
          description: Отключение уведомления пользователя о регистрации
          schema:
            type: boolean
        - name: Accept-Language
          in: header
          schema:
            type: string
        - {name: utm, in: cookie, schema: {type: string}}
      requestBody: {$ref: '#/components/requestBodies/EventSignup'}
      responses:
        '201':
          description: Заявка успешно создана
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Default'

  /events/{event_id}/requests-files:
    parameters:
      - $ref: '#/components/parameters/event_id'
    get:
      operationId: ArchiveEventRequestsFiles
      summary: Скачивание архива файлов из заявок на мероприятие.
      description: 'Обязательно нужно указать один из параметров: `field_id` или `request_id`.'
      security: [TalentOAuth: [events]]
      tags: [events-manage]
      parameters:
        - {name: field_id, in: query, schema: {type: integer, format: int32}}
        - {name: request_id, in: query, schema: {type: integer, format: int32}}
      responses:
        '200':
          description: Архив для скачивания
          headers:
            Content-Disposition:
              required: true
              schema: {type: string}
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnproccessableEntity'
        default:
          $ref: '#/components/responses/Default'

  /event-brands:
    get:
      operationId: ListEventBrands
      summary: Список брендированных мероприятий
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/event_ids'
        - $ref: '#/components/parameters/brand_ids'
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/ListEventBrands'
        default:
          $ref: '#/components/responses/Default'
  /event-deferred-notification-templates/{name}:
    parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
          description: Имя искомого шаблона
    get:
      operationId: EventDeferredNotificationTemplateID
      summary: Идентификатор шаблона отложенного уведомления
      tags: [events-deferred-notification]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDeferredNotificationTemplateID'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
  /event-routes:
    get:
      operationId: ListEventRoutes
      summary: Список направлений мероприятий
      tags: [events-read]
      parameters:
        - $ref: '#/components/parameters/event_ids'
        - $ref: '#/components/parameters/route_ids'
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/ListEventRoutes'
        default:
          $ref: '#/components/responses/Default'
  /mutation-locks/{object_namespace}/{object_key}:
    parameters:
      - $ref: '#/components/parameters/mutation_lock_object_namespace'
      - $ref: '#/components/parameters/mutation_lock_object_key'
    post:
      operationId: CreateMutationLock
      summary: Блокировка файлов от изменений
      description: |-
        Блокировки создаются только для файлов, принадлежащих пользователю.
        Чужие файлы, несуществующие файлы, а так же файлы,
        для которых блокировки уже имеются,
        будут пропущены и не возвращены в теле `201` ответа.
      tags: [mutation-locks]
      security:
        - TalentOAuth: [files]
      requestBody: {$ref: '#/components/requestBodies/MutationLockCreate'}
      responses:
        '201':
          description: Идентификаторы файлов, для которых были созданы блокировки.
          content: {application/json: {schema: {$ref: '#/components/schemas/UUIDs'}}}
        '204':
          description: Ни один файл не был заблокирован.
        '409':
          description: Конфликтный запрос создания блокировки.
        '422':
          description: Указан невалидный object_namespace.
        default:
          $ref: '#/components/responses/Default'
    patch:
      operationId: PatchMutationLock
      summary: Изменение состояния блокировки
      description: |-
        Изначально блокировка создается в состоянии активной.
        После создания, состояние можно декактивировать и активировать обратно.

        > Неактивная блокировка равнозначна ее отсутствию.
      tags: [mutation-locks]
      security:
        - ClientCredentials: []
      requestBody: {$ref: '#/components/requestBodies/MutationLockPatch'}
      responses:
        '200':
          $ref: '#/components/responses/MutationLockPatched'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    delete:
      operationId: DeleteMutationLock
      summary: Удаление блокировки
      tags: [mutation-locks]
      security:
        - ClientCredentials: []
      responses:
        '204':
          description: Блокировка удалена
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'

  /oauth/authorize:
    get:
      operationId: ValidateAuthorization
      summary: Валидация авторизационных параметров
      security: [TalentOAuth: []]
      tags: [oauth]
      parameters:
        - {name: response_type, in: query, required: true, schema: {type: string}}
        - {name: redirect_uri, in: query, required: true, schema: {type: string}}
        - {name: client_id, in: query, required: true, schema: {type: string}}
        - {name: scope, in: query, schema: {type: string}}
        - {name: auto_renew, in: query, schema: {type: boolean}}
      responses:
        '200':
          description: Ok
        default:
          $ref: '#/components/responses/Default'

    post:
      operationId: AuthorizeClient
      summary: Авторизация клиента
      description: Пользователь авторизует доступ клиента к ресурсам пользователя
      security: [TalentOAuth: []]
      tags: [oauth]
      responses:
        '302':
          description: Ok
          headers:
            Location: {required: true, schema: {type: string}}
        default:
          $ref: '#/components/responses/Default'

  /oauth/issue-token:
    post:
      operationId: IssueAccessToken
      summary: Выдача токена доступа
      tags: [oauth]
      responses:
        '200': {$ref: '#/components/responses/IssueTokenSuccess'}
        '400': {$ref: '#/components/responses/IssueTokenError'}
        default:
          $ref: '#/components/responses/Default'

  /organization-subjects:
    get:
      operationId: ListOrganizationSubjects
      summary: Список связей организаций и тематик
      tags: [organization-subjects]
      parameters:
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/organization_ids'
        - $ref: '#/components/parameters/subject_ids'
      responses:
        '200':
          $ref: '#/components/responses/ListOrganizationSubjects'
        default:
          $ref: '#/components/responses/Default'
    post:
      operationId: CreateOrganizationSubject
      summary: Добавление тематики для организации
      description: |-
        > Запрос необходимо выполнять от ментора или владельца организации,
        > указываемой в свойстве `organization_id` тела запроса.
      security: [TalentOAuth: [events]]
      tags: [organization-subjects]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationSubjectBody'
      responses:
        '201':
          description: Тематика добавлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSubject'
        '403':
          description: Пользователь не имеет административных прав в организаци
        '409':
          description: Тематика уже добавлена в организацию
        default:
          $ref: '#/components/responses/Default'
  /organizations:
    get:
      operationId: ListOrganizations
      summary: Список организаций
      tags: [organizations]
      parameters:
        - $ref: '#/components/parameters/organization_ids'
        - $ref: '#/components/parameters/parent_organization_id'
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - name: order_by
          in: query
          description: Критерий сортировки результатов.
          schema:
            type: string
            default: 'id_asc'
            enum:
              - id_asc
              - id_desc
      responses:
        '200':
          $ref: '#/components/responses/ListOrganizations'
        '422':
          $ref: '#/components/responses/UnproccessableEntity'
        default:
          $ref: '#/components/responses/Default'
  /organizations/{organization_id}/is-admin:
    post:
      operationId: IsOrganizationAdmin
      summary: Проверка наличия административных прав в организации
      security:
        - TalentOAuth: []
      tags: [organizations]
      parameters:
        - $ref: '#/components/parameters/organization_id'
        - name: is_owner
          in: query
          description: |-
            Требование наличия или отсутствия статуса владельца организации.

            При указании значения, роль пользователя должна ему соответствовать;
            это значит что если указать `false`, а пользователь является владельцем,
            то ответ будет иметь статус `403`.
          schema:
            type: boolean
      responses:
        '200':
          description: Права администратора имеются
        '403':
          description: Права отсутствуют
        '404':
          description: Организация не найдена
        default:
          $ref: '#/components/responses/Default'
  /persons/{person_id}:
    get:
      operationId: ReadPerson
      summary: Чтение персоны пользователя
      tags:
        - persons
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - user_id
                properties:
                  user_id:
                    type: integer
                    format: int32
                    description: TalentID пользователя, которому принадлежит персона.
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    parameters:
      - name: person_id
        in: path
        required: true
        description: ID персоны.
        schema:
          type: integer
          format: int32
  /social-auths/{user_id}:
    get:
      operationId: ListSocialAuths
      summary: Список авторизаций пользователя в соц. сетях
      security:
        - TalentOAuth: [user:read]
        - ClientCredentials: []
      tags:
        - social-auths
      parameters:
        - name: provider
          in: query
          required: false
          description: Фильтрация по провайдеру авторизации
          schema:
            $ref: '#/components/schemas/SocialAuthProvider'
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Ok
          headers:
            X-Count:
              $ref: '#/components/headers/X-Count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SocialAuth'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        default:
          $ref: '#/components/responses/Default'
    parameters:
      - name: user_id
        in: path
        required: true
        description: ID пользователя.
        schema:
          type: integer
          format: int32
  /subjects:
    get:
      operationId: ListSubjects
      summary: Список тематик для организаций
      tags: [organization-subjects]
      parameters:
        - $ref: '#/components/parameters/id_offset_32'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/ListSubjects'
        default:
          $ref: '#/components/responses/Default'
  /teams/{team_id}:
    get:
      operationId: ReadTeam
      summary: Чтение параметров команды
      description: |-
        Часть данных возвращается только при наличии аутентификации и определенных прав у пользователя,
        от лица которого выполняется запрос.
      tags:
        - teams
      security:
        - TalentOAuth: [teams:read]
        - {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
    patch:
      operationId: UpdateTeam
      summary: Обновление параметров команды
      description: Доступно только для капитана команды и организатора мероприятия.
      tags:
        - teams
      security:
        - TalentOAuth: [teams]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  maxLength: 255
                description:
                  type: string
                  maxLength: 2000
                assignment_participation:
                  type: boolean
                  description: Команда участвует в автораспределении.
                project_id:
                  type: integer
                  format: int32
                  description: |-
                    ID проекта команды.

                    > Доступно для обновления только капитану команды.
                contact_link:
                  $ref: '#/components/schemas/TeamContactLink'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Контактная ссылка не прошла валидацию
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/Default'
    parameters:
      - name: team_id
        in: path
        required: true
        description: ID команды.
        schema:
          type: integer
          format: int32
  /teams/contact-validate:
    post:
      operationId: ValidateTeamContact
      summary: Валидация контактной ссылки
      tags:
        - teams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamContactLink'
      responses:
        '200':
          description: Ссылка корректна для использования в качестве контактной ссылки команды
          x-summary: Ссылка прошла валидацию
        '422':
          description: Ссылка не прошла валидацию
        default:
          $ref: '#/components/responses/Default'

  /users/me:
    patch:
      operationId: UpdateAuthenticatedUser
      summary: Изменение аутентифицированного пользователя
      description: "> Операция еще не доступна"
      tags: [user-profile]
      requestBody: {$ref: '#/components/requestBodies/UserUpdate'}
      responses:
        '200':
          description: Пользователь успешно изменен
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '422':
          $ref: '#/components/responses/ValidationErrors'
        default:
          $ref: '#/components/responses/Default'

  /users/{user_id}/consents:
    parameters:
      - $ref: '#/components/parameters/user_id'
    get:
      operationId: ListUserConsents
      summary: Список согласий пользователя
      security: [TalentOAuth: [user:read]]
      tags: [user-consents]
      responses:
        '200': {$ref: '#/components/responses/ListUserConsents'}
        '403': {$ref: '#/components/responses/PermissionDenied'}
        default: {$ref: '#/components/responses/Default'}
  /users/{user_id}/consents/{kind}:
    parameters:
      - $ref: '#/components/parameters/user_id'
      - $ref: '#/components/parameters/user_consent_kind'
    head:
      operationId: CheckUserConsent
      summary: Проверка наличия согласия пользователя
      security: [TalentOAuth: [user:read]]
      tags: [user-consents]
      responses:
        '200': {description: Согласие имеется}
        '204': {description: Согласие отсутствует}
        '403': {$ref: '#/components/responses/PermissionDenied'}
        default: {$ref: '#/components/responses/Default'}
    post:
      operationId: SubmitUserConsent
      summary: Фиксация согласия пользователя
      security: [TalentOAuth: [user]]
      tags: [user-consents]
      responses:
        '201': {description: Согласие зафиксировано}
        '204': {description: Согласие уже было дано ранее}
        '403': {$ref: '#/components/responses/PermissionDenied'}
        default: {$ref: '#/components/responses/Default'}

components:
  schemas:
    # Схемы стандартных ответов
    Conflict:
      type: object
      required: [error]
      properties: {error: {type: string}}
    ContentTooLarge:
      type: object
      required: [error]
      properties: {error: {type: string}}
    Error:
      type: object
      required: [error]
      properties: {error: {type: string}}
    NotFound:
      type: object
      required: [error]
      properties: {error: {type: string}}
    PermissionDenied:
      type: object
      required: [error]
      properties: {error: {type: string}}
    Unauthorized:
      type: object
      required: [error]
      properties: {error: {type: string}}
    UnproccessableEntity:
      type: object
      required: [error]
      properties: {error: {type: string}}

    # Схемы объектов в алфавитном порядке.
    ContentLength:
      type: integer
      format: int32
      minimum: 1
      description: Размер файла в байтах.
    EventSignup:
      type: object
      properties:
        consents: {type: array, items: {$ref: '#/components/schemas/UserConsentKind'}}
        email: {type: string, title: Email, format: email}
        last_name: {type: string, title: Фамилия}
        first_name: {type: string, title: Имя}
        middle_name: {type: string, title: Отчество}
        no_middle_name: {type: boolean, title: Нет отчества}
        birthday: {type: string, title: Дата рождения, format: date}
        address: {type: string, title: Адрес}
        sex: {$ref: '#/components/schemas/UserSex'}
        grade: {type: integer, title: Класс, format: int8}
        snils: {type: string, title: СНИЛС}
        adult_confirm: {type: integer, title: Подтверждение родителей, format: int32}
        phone:
          type: string
          title: Номер телефона
          x-ogen-type: "gitlab.jetstyle.in/jetstyle/nti/talent-v2/pkg/auth/phonenumber.PhoneNumber"
        phone_unconfirmed:
          type: string
          title: Номер неподтвержденного телефона
          x-ogen-type: "gitlab.jetstyle.in/jetstyle/nti/talent-v2/pkg/auth/phonenumber.PhoneNumber"
        session_token: {type: string, title: Токен подтверждения телефона}
        stepik_uid: {type: string, title: ID пользователя Stepik}
        github_uid: {type: string, title: ID пользователя GitHub}
        yandex_uid: {type: string, title: ID пользователя Yandex}
        leader_uid: {type: string, title: ID пользователя LeaderID}
        vk_uid: {type: string, title: ID пользователя VK}
        telegram_id: {type: integer, format: int64, title: UID Telegram}
        kaggle_username: {type: string, maxLength: 255, title: Имя пользователя Kaggle аккаунта}
        # team_assignment_fields
        fields:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: integer
    DiplomaTemplate:
      type: string
      enum:
        - diploma
        - cert
      x-enumDescriptions:
        diploma: Шаблон диплома
        cert: Шаблон сертификата
      default: diploma
    DiplomaIssueMode:
      type: string
      description: Для кого предусмотрена выдача дипломов
      enum:
        - all
        - roles
        - none
      x-enumDescriptions:
        all: Выдаются всем
        roles: Выдаются по ролям
        none: Не выдаются никому
      default: none
    EducationalCategory:
      title: Тип образования
      description: Тип образования.
      type: string
      enum:
        - ""
        - high
        - vocational
        - secondary
    EventAchievementsCount:
      type: integer
      format: int32
    EventAchievementRole:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
    EventAchievementsAllowed:
      type: boolean
      description: Допуск на создания достижений на мероприятие.
    EventAltTitle:
      type: string
      description: Альтернативное название мероприятия.
    EventAutocreateMember:
      type: boolean
      description: Автоматическое добавление в участники организации пользователя с подтвержденной заявки.
    EventBrand:
      type: object
      required:
        - id
        - event_id
        - brand_id
      properties:
        id:
          type: integer
          format: int32
        event_id:
          $ref: '#/components/schemas/EventID'
        brand_id:
          type: integer
          format: int32
    EventCanceled:
      type: boolean
      description: Статус отмены мероприятия.
    EventCover:
      type: string
      description: Ссылка на обложку мероприятия.
    EventCoverURLWrite:
      type: string
      format: uri
      description: Ссылка на обложку мероприятия.
    EventCreatedAt:
      type: string
      format: date-time
      description: Дата создания.
    EventCreatedByID:
      type: integer
      format: int32
      nullable: true
      description: ID автора мероприятия.
    EventDeferredNotification:
      title: Отложенное уведомление для участников мероприятия
      type: object
      required:
        - qstatus
        - event_id
        - created_at
        - before_start
        - receivers_cnt
        - started_at
        - finished_at
        - template
        - message
      properties:
        qstatus:
          $ref: '#/components/schemas/QueueStatus'
        event_id:
          $ref: '#/components/schemas/EventID'
        created_at:
          type: string
          format: date-time
          description: Дата создания отложенного уведомления.
        before_start:
          $ref: '#/components/schemas/EventDeferredNotificationBeforeStart'
        receivers_cnt:
          type: integer
          format: int32
          nullable: true
          description: Кол-во отправленных уведомлений.
        started_at:
          type: string
          format: date-time
          nullable: true
          description: Дата перевода задачи в статус начатой.
        finished_at:
          type: string
          format: date-time
          nullable: true
          description: Дата перевода задачи в статус завершенной.
        template:
          $ref: '#/components/schemas/EventDeferredNotificationTemplateID'
        message:
          type: string
          description: Текст отправляемого сообщения.
    EventDeferredNotificationTemplateID:
      type: integer
      format: int16
      description: Идентификатор шаблона отложенного уведомления.
    EventDeferredNotificationBeforeStart:
      type: object
      description: |-
        Интервал до начала мероприятия.
        Вычисляемая дата является границей,
        до которой не отправляются уведомления.
      required:
        - microseconds
        - days
        - months
      properties:
        microseconds:
          type: integer
          format: int64
        days:
          type: integer
          format: int32
        months:
          type: integer
          format: int32
    EventDescription:
      type: string
      description: Описание мероприятия.
    EventDiplomaSettings:
      type: object
      required:
        - event_id
        - diplomas_dark_theme
        - background
        - template
        - diploma_issue_mode
      properties:
        event_id:
          type: integer
          format: int32
          description: ID мероприятия
        diplomas_dark_theme:
          type: boolean
          description: Тёмная тема для дипломов
        background:
          type: string
          format: uri
          description: Фон для дипломов
        template:
          $ref: '#/components/schemas/DiplomaTemplate'
        diploma_issue_mode:
          $ref: '#/components/schemas/DiplomaIssueMode'
    EventDiplomaSettingsWithRoles:
      type: object
      required:
        - event_diploma_settings
      properties:
        event_diploma_settings:
          $ref: '#/components/schemas/EventDiplomaSettings'
        role_ids:
          type: array
          description: |-
            Массив ID ролей, для которых выдаются дипломы.
            Возвращается только если diploma_issue_mode равен roles и только в операциях чтения.
          items:
            type: integer
            format: int32
    EventDraft:
      type: boolean
      description: |-
        Мероприятие находится в статусе черновика.
        На такое мероприятие нельзя зарегистрироваться.
    EventEdge:
      title: Ребро между мероприятиями
      type: object
      required:
        - id
        - type
        - from_event_id
        - to_event_id
      properties:
        id:
          type: integer
          format: int32
          description: Идентификатор связи/ребра.
        type:
          type: integer
          format: int16
          enum: [1, 2]
          x-enumDescriptions:
            1: Отбор
            2: Вложенность
          description: Тип отношения мероприятий.
        from_event_id:
          type: integer
          format: int32
          description: Исходная вершина.
        to_event_id:
          type: integer
          format: int32
          description: Целевая вершина.
    EventEnd:
      type: string
      format: date-time
      nullable: true
      description: Дата окончания мероприятия.
    EventExpectedStart:
      type: string
      format: date-time
      nullable: true
    EventFieldListed:
      type: object
      required:
        - id
        - order
        - type
        - name
        - options
        - required
        - updatable
        - hidden
        - another
        - help_text
      properties:
        id: {type: integer, format: int32}
        order: {type: integer, format: int32}
        type: {type: string}
        name: {type: string}
        options: {type: string}
        required: {type: boolean}
        updatable: {type: boolean}
        hidden: {type: boolean}
        another: {type: boolean}
        help_text: {type: string}
    EventFormat:
      type: string
      enum:
        - ""
        - offline
        - online
      description: Формат проведения мероприятия.
      x-enumDescriptions:
        "": Значение не указано
        offline: Оффлайн мероприятие.
        online: Онлайн мероприятие.
    EventHidden:
      type: boolean
      description: Исключение мероприятия из календаря.
    EventID:
      type: integer
      format: int32
      description: ID мероприятия.
    EventLimit:
      type: object
      required:
        - id
        - event_id
        - auto_approve
        - collect_snils
        - collect_phones
        - participant_limit
        - date_end_request
        - date_end_update
        - user_age_start
        - user_age_end
        - requires_project
        - requires_stepik
        - requires_github
        - requires_yandex
        - requires_kaggle
        - requires_leader
        - requires_vk
        - requires_telegram
        - countries
        - regions
        - cities
        - description
      properties:
        id:
          type: integer
          format: int32
        event_id: {$ref: '#/components/schemas/EventID'}
        auto_approve: {$ref: '#/components/schemas/EventLimitAutoApprove'}
        collect_snils: {$ref: '#/components/schemas/EventLimitCollectSNILS'}
        collect_phones: {$ref: '#/components/schemas/EventLimitCollectPhones'}
        participant_limit: {$ref: '#/components/schemas/EventLimitParticipantLimit'}
        date_end_request: {$ref: '#/components/schemas/EventLimitDateEndRequest'}
        date_end_update: {$ref: '#/components/schemas/EventLimitDateEndUpdate'}
        user_age_start: {$ref: '#/components/schemas/EventLimitUserAgeStart'}
        user_age_end: {$ref: '#/components/schemas/EventLimitUserAgeEnd'}
        requires_project: {$ref: '#/components/schemas/EventLimitRequiresProject'}
        requires_stepik: {$ref: '#/components/schemas/EventLimitRequiresStepik'}
        requires_github: {$ref: '#/components/schemas/EventLimitRequiresGitHub'}
        requires_yandex: {$ref: '#/components/schemas/EventLimitRequiresYandex'}
        requires_kaggle: {$ref: '#/components/schemas/EventLimitRequiresKaggle'}
        requires_leader: {$ref: '#/components/schemas/EventLimitRequiresLeader'}
        requires_vk: {$ref: '#/components/schemas/EventLimitRequiresVK'}
        requires_telegram: {$ref: '#/components/schemas/EventLimitRequiresTelegram'}
        countries: {$ref: '#/components/schemas/EventLimitCountries'}
        regions: {$ref: '#/components/schemas/EventLimitRegions'}
        cities: {$ref: '#/components/schemas/EventLimitCities'}
        description: {$ref: '#/components/schemas/EventLimitDescription'}
    EventLimitAutoApprove:
      type: boolean
      description: Автосогласование заявок.
    EventLimitCities:
      type: array
      description: Допускаемые к регистрации города.
      items:
        type: string
    EventLimitCollectPhones:
      type: boolean
      description: Собирать номера телефонов в заявках.
    EventLimitCollectSNILS:
      type: boolean
      description: Собирать СНИЛС в заявках.
    EventLimitCountries:
      type: array
      description: Допускаемые к регистрации страны.
      items:
        type: string
    EventLimitDateEndRequest:
      type: string
      format: date-time
      nullable: true
      description: Крайний срок подачи заявки.
    EventLimitDateEndUpdate:
      type: string
      format: date-time
      nullable: true
      description: Крайний срок обновления заявки.
    EventLimitDescription:
      type: string
      description: Текстовое описание ограничений по регистрации.
    EventLimitOnlyDateEndRequest:
      type: object
      required:
        - date_end_request
      properties:
        date_end_request:
          $ref: '#/components/schemas/EventLimitDateEndRequest'
    EventLimitParticipantLimit:
      type: integer
      minimum: 1
      nullable: true
      description: Максимальное количество участников.
    EventLimitRegions:
      type: array
      description: Допускаемые к регистрации регионы.
      items:
        type: string
    EventLimitRequiresProject:
      type: boolean
      description: Требуется проект.
    EventLimitRequiresStepik:
      type: boolean
      description: Требуется учетная запись Stepik.
    EventLimitRequiresGitHub:
      type: boolean
      description: Требуется учетная запись GitHub.
    EventLimitRequiresYandex:
      type: boolean
      description: Требуется учетная запись Yandex.
    EventLimitRequiresKaggle:
      type: boolean
      description: Требуется учетная запись Kaggle.
    EventLimitRequiresLeader:
      type: boolean
      description: Требуется учетная запись Leader.
    EventLimitRequiresVK:
      type: boolean
      description: Требуется учетная запись VK.
    EventLimitRequiresTelegram:
      type: boolean
      description: Требуется учетная запись Telegram.
    EventLimitUserAgeStart:
      type: integer
      format: int32
      nullable: true
      description: Минимальный возраст участника. Рассчитывается от даты начала мероприятия.
    EventLimitUserAgeEnd:
      type: integer
      format: int32
      nullable: true
      description: Максимальный возраст участника. Рассчитывается от даты начала мероприятия.
    EventMaxUsers:
      type: integer
      nullable: true
    EventMetaEventID:
      type: integer
      format: int32
      nullable: true
      description: ID мета-мероприятия.
    EventNotificationEmailMessage:
      type: string
      description: |-
        Дополнительный текст для Email уведомления о регистрации на мероприятие.

        > Текст интерпретируется в соответствии с форматом markdown.
    EventOrganizationID:
      type: integer
      format: int32
      nullable: true
      description: ID организации мероприятия.
    EventPublic:
      type: boolean
      description: Статус публичности мероприятия.
    EventQuestionnaireCompletedMessage:
      type: string
      description: Сообщение о заполненной анкете.
    EventRequestsAllowed:
      type: boolean
      description: Допуск на создания заявок на мероприятие.
    EventRequestsCount:
      type: integer
      format: int32
    EventRoute:
      type: object
      required:
        - id
        - event_id
        - route_id
      properties:
        id:
          type: integer
          format: int32
        event_id:
          $ref: '#/components/schemas/EventID'
        route_id:
          type: integer
          format: int32
    EventSelfCheckIn:
      type: boolean
      description: Доступность чекина
    EventStart:
      type: string
      format: date-time
      nullable: true
      description: Дата начала мероприятия.
    EventTeamAssignmentMethod:
      type: string
      enum:
        - completion
        - completion_soft
        - single
        - single_soft
      x-enumDescriptions:
        completion: Команды будут дополняться до максимального количества.
        completion_soft: |-
          Команды будут дополняться до максимального количества.
          У участников есть возможность отказаться от дополнения их команды.
        single: |-
          Команды будут создаваться только из участников-одиночек и команд из одного участника.
        single_soft: |-
          Команды будут создаваться только из участников-одиночек и команд из одного участника.
          У участников есть возможность отказаться от изменения их команды.
    EventTeamsInvolved:
      type: integer
      format: int32
      description: Формат участия.
      enum: [0, 1, 2]
      x-enumDescriptions:
        0: Допускаются и индивидуальное и командное участия
        1: Допускается только индивидуальная регистрация
        2: Допускается регистрация только в команде
    EventTimeMatters:
      type: boolean
      description: Учитывается ли время или только даты в полях `start` и `end`.
    EventTitle:
      type: string
      description: Название мероприятия.
    EventTitleInput:
      allOf:
        - $ref: '#/components/schemas/EventTitle'
        - minLength: 1
    EventTypeID:
      type: integer
      format: int32
      nullable: true
      description: Идентификатор типа мероприятия.
    EventUpdatedAt:
      type: string
      format: date-time
      description: Дата обновления.
    EventURL:
      type: string
      format: url
      maxLength: 200
      description: Адрес online мероприятия.
    EventVenueID:
      type: integer
      format: int32
      nullable: true
      description: ID [площадки](/venue-api/docs/) на которой проводится мероприятие.
    FileMeta:
      type: object
      required:
        - file_id
        - name
        - content_type
        - content_length
        - extension
        - is_public
        - namespace
        - created_at
        - uploaded_at
        - version
      properties:
        file_id:
          type: string
          format: uuid
          description: UUID файла. Генерируется на сервере при создании.
        name:
          $ref: '#/components/schemas/FileMetaName'
        content_type:
          type: string
          description: MIME-тип файла.
        content_length:
          $ref: '#/components/schemas/ContentLength'
        extension:
          type: string
          description: Расширение файла (например, .jpg, .png, .pdf, etc.)
        is_public:
          type: boolean
          description: Статус публичности файла.
        namespace:
          type: string
          description: |-
            Пространство имен для объекта, где используется файл, в формате
            <сервис>/<таблица БД>/<поле со ссылкой на файл>
            (например, polls/questions/picture, venues/venue/cover, etc.)
            Задается при создании.
        created_at:
          type: string
          format: date-time
          description: Дата добавления информации о файле.
        uploaded_at:
          type: string
          format: date-time
          description: Дата загрузки файла.
          nullable: true
        version:
          type: integer
          format: int32
          description: Текущая загруженная версия файла.
    FileMetaName:
      type: string
      maxLength: 200
      description: Опциональное название файла.
    FilePresignedRequest:
      type: object
      required:
        - url
        - method
        - headers
      properties:
        url:
          type: string
          format: uri
          description: Ссылка на загрузку файла.
        method:
          type: string
          description: HTTP-метод запроса на загрузку файла.
        headers:
          type: object
          additionalProperties:
            type: string
            description: Заголовки запроса на загрузку файла.
    FileReference:
      type: object
      required:
        - object_id
        - file_id
        - created_at
      properties:
        object_id:
          type: string
          maxLength: 36
          description: ID связанного объекта
        file_id:
          type: string
          format: uuid
          description: ID файла
        created_at:
          type: string
          format: date-time
          description: Дата создания ссылки на файл
    GeodataAddress:
      type: string
      description: Полный адрес
    GeodataCity:
      type: string
      description: Название города
    OrganizationMeta:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - is_permitted
        - legal_entity_id
        - parent_organization_id
        - educational_category
        - short_name
        - full_name
      properties:
        id:
          type: integer
          format: int32
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_permitted:
          type: boolean
        legal_entity_id:
          type: integer
          format: int32
          nullable: true
        parent_organization_id:
          type: integer
          format: int32
          nullable: true
        educational_category:
          $ref: '#/components/schemas/EducationalCategory'
    OrganizationSubject:
      allOf:
        - type: object
          required:
            - id
            - created_at
            - organization_id
            - subject_id
          properties:
            id:
              type: integer
              format: int32
            created_at:
              type: string
              format: date-time
        - $ref: '#/components/schemas/OrganizationSubjectBody'
    OrganizationSubjectBody:
      # Параметры OrganizationSubject заполняемые клиентом.
      type: object
      required:
        - organization_id
        - subject_id
      properties:
        organization_id:
          type: integer
          format: int32
        subject_id:
          type: integer
          format: int32
          description: ID [тематики](#tag/organization-subjects/operation/SubjectList)
    QueueStatus:
      type: string
      enum:
        - pending
        - started
        - finished
        - canceled
      description: Статус задачи в очереди
      x-enumDescriptions:
        pending: Ожидает выполнения
        started: Задача выполняется
        finished: Задача завершена
        canceled: Выполнение отменено
    QueueStatusPatch:
      type: string
      enum:
        - pending
        - canceled
      description: Статус задачи в очереди
      x-enumDescriptions:
        pending: Ожидает выполнения
        canceled: Выполнение отменено
    SocialAuth:
      type: object
      required:
        - provider
        - uid
      properties:
        provider:
          $ref: '#/components/schemas/SocialAuthProvider'
        uid:
          type: string
          description: ID пользователя в провайдере авторизации.
    SocialAuthProvider:
      type: string
      title: Имя провайдера внешней авторизации
      description: Включает все возможные значения, в том числе и недоступные для авторизации имена провайдеров.
      enum:
        - github
        - github_legacy
        - gitlab
        - leader
        - mos
        - stackoverflow
        - stepik
        - rsv
        - unti
        - vkid
        - vk-oauth2
        - yandex
    Subject:
      type: object
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
    Team:
      x-tags:
        - teams-schema
      title: Команда пользователей
      type: object
      required:
        - id
        - created_at
        - updated_at
        - title
        - description
        - assignment_participation
        - created_by_assignment
        - event_id
        - project_id
      properties:
        id:
          type: integer
          format: int32
          description: ID команды.
        created_at:
          type: string
          format: date-time
          description: Дата создания.
        updated_at:
          type: string
          format: date-time
          description: Дата обновления.
        title:
          type: string
          description: Название команды.
        description:
          type: string
          description: Описание команды.
        assignment_participation:
          type: boolean
          description: Команда участвует в автораспределении.
        created_by_assignment:
          type: boolean
          description: Команда создана автораспределением.
        event_id:
          type: integer
          format: int32
          description: ID мероприятия команды.
        project_id:
          type: integer
          format: int32
          description: ID проекта команды.
        owner_id:
          type: integer
          format: int32
          description: |-
            TalentID капитана команды.

            > Доступно только для участников команды и организатора мероприятия.
        contact_link:
          type: string
          description: |-
            Контактная ссылка команды.

            > Доступно только для участников команды и организатора мероприятия.
        invite_code:
          type: string
          description: |-
            Код для вступления в команду.

            > Доступен только капитану команды.
    TeamContactLink:
      type: string
      format: uri
      description: Контактная ссылка.
    UUIDs:
      type: array
      items:
        type: string
        format: uuid
    UserConsentKind:
      type: string
      enum:
        - personal_data_processing
        - terms_of_service
    UserSex:
      type: string
      title: Пол
      enum: [m, w]
    Signup:
      type: object
      properties:
        consents: {type: array, items: {$ref: '#/components/schemas/UserConsentKind'}}
        password: {type: string}
        email: {type: string, title: Email, format: email}
        last_name: {type: string, title: Фамилия}
        first_name: {type: string, title: Имя}
        middle_name: {type: string, title: Отчество}
        no_middle_name: {type: boolean, title: Нет отчества}
        birthday: {type: string, title: Дата рождения, format: date}
        address: {type: string, title: Адрес}
        sex: {$ref: '#/components/schemas/UserSex'}
        grade: {type: integer, title: Класс, format: int8}
        snils: {type: string, title: СНИЛС}
        adult_confirm: {type: integer, title: Подтверждение родителей, format: int32}
        redirect_uri: {type: string, title: URI перенаправления, maxLength: 1000}
        phone:
          type: string
          title: Номер телефона
          x-ogen-type: "gitlab.jetstyle.in/jetstyle/nti/talent-v2/pkg/auth/phonenumber.PhoneNumber"
        session_token: {type: string, title: Токен подтверждения телефона}
    UserUpdate:
      type: object
      properties:
        last_name: {type: string, title: Фамилия}
        first_name: {type: string, title: Имя}
        middle_name: {type: string, title: Отчество}
        no_middle_name: {type: boolean, title: Нет отчества}
        birthday: {type: string, title: Дата рождения, format: date}
        address: {type: string, title: Адрес}
        sex: {$ref: '#/components/schemas/UserSex'}
        grade: {type: integer, title: Класс, format: int8}
        snils: {type: string, title: СНИЛС}
        phone:
          type: string
          title: Номер телефона
          x-ogen-type: "gitlab.jetstyle.in/jetstyle/nti/talent-v2/pkg/auth/phonenumber.PhoneNumber"
        session_token: {type: string, title: Токен подтверждения телефона}
        about: {type: string}
        status_text: {type: string}
        public_page_enabled: {type: boolean}
        first_grade_year: {type: integer, format: int16}
        # avatar: {type: string}
        current_education: {type: integer, format: int32}

    # Представления мероприятий
    Event:
      x-tags:
        - events-schema
      title: Мероприятие полностью
      allOf:
        - $ref: '#/components/schemas/EventMeta'
        - type: object
          required:
            - simplified_registration
            - autocreate_member
            - achievements_allowed
            - requests_allowed
            - self_check_in
            - teams_involved
            - owner_can_moderate
            - user_in_multiple_teams
            - mentors_allowed
            - support_i18n
            - gir_collection
            - time_matters
            - promoted
            - max_users
            - team_create_notification
            - team_assignment_method
            - achievement_roles_count
            - talent_roles_count
            - achievements_count
            - requests_count
            - expected_start
            - alt_title
            - cover
            - url
            - type_id
            - description
            - cancellation_reason
            - questionnaire_completed_message
          properties:
            simplified_registration:
              type: boolean
              description: Доступность упрощенной регистрации на мероприятие.
            autocreate_member: {$ref: '#/components/schemas/EventAutocreateMember'}
            achievements_allowed: {$ref: '#/components/schemas/EventAchievementsAllowed'}
            requests_allowed: {$ref: '#/components/schemas/EventRequestsAllowed'}
            self_check_in: {$ref: '#/components/schemas/EventSelfCheckIn'}
            teams_involved: {$ref: '#/components/schemas/EventTeamsInvolved'}
            owner_can_moderate:
              type: boolean
            user_in_multiple_teams:
              type: boolean
            mentors_allowed:
              type: boolean
            support_i18n:
              type: boolean
            gir_collection:
              type: boolean
            time_matters: {$ref: '#/components/schemas/EventTimeMatters'}
            promoted:
              type: boolean
            max_users:
              $ref: '#/components/schemas/EventMaxUsers'
            team_create_notification:
              type: boolean
            team_assignment_method: {$ref: '#/components/schemas/EventTeamAssignmentMethod'}
            achievement_roles_count:
              type: integer
              format: int32
            achievements_count: {$ref: '#/components/schemas/EventAchievementsCount'}
            requests_count: {$ref: '#/components/schemas/EventRequestsCount'}
            expected_start: {$ref: '#/components/schemas/EventExpectedStart'}
            alt_title: {$ref: '#/components/schemas/EventAltTitle'}
            cover: {$ref: '#/components/schemas/EventCover'}
            url: {$ref: '#/components/schemas/EventURL'}
            type_id: {$ref: '#/components/schemas/EventTypeID'}
            description: {$ref: '#/components/schemas/EventDescription'}
            cancellation_reason:
              type: string
              description: Причина отмены мероприятия.
            questionnaire_completed_message: {$ref: '#/components/schemas/EventQuestionnaireCompletedMessage'}
    EventMeta:
      x-tags:
        - events-schema
      title: Метаданные мероприятия
      type: object
      required:
        - id
        - created_at
        - updated_at
        - draft
        - public
        - hidden
        - canceled
        - title
        - start
        - end
        - format
        - organization_id
        - meta_event_id
        - created_by_id
        - venue_id
      properties:
        id: {$ref: '#/components/schemas/EventID'}
        created_at: {$ref: '#/components/schemas/EventCreatedAt'}
        updated_at: {$ref: '#/components/schemas/EventUpdatedAt'}
        draft: {$ref: '#/components/schemas/EventDraft'}
        public: {$ref: '#/components/schemas/EventPublic'}
        hidden: {$ref: '#/components/schemas/EventHidden'}
        canceled: {$ref: '#/components/schemas/EventCanceled'}
        title: {$ref: '#/components/schemas/EventTitle'}
        start: {$ref: '#/components/schemas/EventStart'}
        end: {$ref: '#/components/schemas/EventEnd'}
        format: {$ref: '#/components/schemas/EventFormat'}
        organization_id: {$ref: '#/components/schemas/EventOrganizationID'}
        meta_event_id: {$ref: '#/components/schemas/EventMetaEventID'}
        created_by_id: {$ref: '#/components/schemas/EventCreatedByID'}
        venue_id: {$ref: '#/components/schemas/EventVenueID'}
    AddAchievementEvent:
      type: object
      required:
        - id
        - title
        - alt_title
        - start
        - end
        - achievement_roles
      properties:
        id: {$ref: '#/components/schemas/EventID'}
        title: {$ref: '#/components/schemas/EventTitle'}
        alt_title: {$ref: '#/components/schemas/EventAltTitle'}
        start: {$ref: '#/components/schemas/EventStart'}
        end: {$ref: '#/components/schemas/EventEnd'}
        achievement_roles:
          type: array
          items:
            type: integer
            format: int32
    CalendarEvent:
      type: object
      required:
        - id
        - canceled
        - title
        - alt_title
        - format
        - start
        - end
        - requests_allowed
        - expected_start
        - time_matters
        - limits
        - cover
        - city
        - brands
      properties:
        id: {$ref: '#/components/schemas/EventID'}
        canceled: {$ref: '#/components/schemas/EventCanceled'}
        title: {$ref: '#/components/schemas/EventTitle'}
        alt_title: {$ref: '#/components/schemas/EventAltTitle'}
        format: {$ref: '#/components/schemas/EventFormat'}
        start: {$ref: '#/components/schemas/EventStart'}
        end: {$ref: '#/components/schemas/EventEnd'}
        requests_allowed: {$ref: '#/components/schemas/EventRequestsAllowed'}
        expected_start: {$ref: '#/components/schemas/EventExpectedStart'}
        time_matters: {$ref: '#/components/schemas/EventTimeMatters'}
        limits: {$ref: '#/components/schemas/EventLimitOnlyDateEndRequest'}
        cover: {$ref: '#/components/schemas/EventCover'}
        city: {$ref: '#/components/schemas/GeodataCity'}
        brands:
          type: array
          items:
            type: integer
            format: int32
    OrganizationEvent:
      type: object
      required:
        - id
        - updated_at
        - draft
        - public
        - hidden
        - canceled
        - title
        - alt_title
        - start
        - end
        - format
        - organization_id
        - meta_event_id
        - achievements_allowed
        - requests_allowed
        - self_check_in
        - teams_involved
        - max_users
        - limits
        - achievements_count
        - requests_count
        - cover
        - url
        - city
        - address
        - edges_incoming
      properties:
        id: {$ref: '#/components/schemas/EventID'}
        updated_at: {$ref: '#/components/schemas/EventUpdatedAt'}
        draft: {$ref: '#/components/schemas/EventDraft'}
        public: {$ref: '#/components/schemas/EventPublic'}
        hidden: {$ref: '#/components/schemas/EventHidden'}
        canceled: {$ref: '#/components/schemas/EventCanceled'}
        title: {$ref: '#/components/schemas/EventTitle'}
        alt_title: {$ref: '#/components/schemas/EventAltTitle'}
        start: {$ref: '#/components/schemas/EventStart'}
        end: {$ref: '#/components/schemas/EventEnd'}
        format: {$ref: '#/components/schemas/EventFormat'}
        organization_id: {$ref: '#/components/schemas/EventOrganizationID'}
        meta_event_id: {$ref: '#/components/schemas/EventMetaEventID'}
        achievements_allowed: {$ref: '#/components/schemas/EventAchievementsAllowed'}
        requests_allowed: {$ref: '#/components/schemas/EventRequestsAllowed'}
        self_check_in: {$ref: '#/components/schemas/EventSelfCheckIn'}
        teams_involved: {$ref: '#/components/schemas/EventTeamsInvolved'}
        max_users: {$ref: '#/components/schemas/EventMaxUsers'}
        limits: {$ref: '#/components/schemas/EventLimitOnlyDateEndRequest'}
        achievements_count: {$ref: '#/components/schemas/EventAchievementsCount'}
        requests_count: {$ref: '#/components/schemas/EventRequestsCount'}
        cover: {$ref: '#/components/schemas/EventCover'}
        url: {$ref: '#/components/schemas/EventURL'}
        city: {$ref: '#/components/schemas/GeodataCity'}
        address: {$ref: '#/components/schemas/GeodataAddress'}
        edges_incoming:
          type: array
          items:
            $ref: '#/components/schemas/EventEdge'

  requestBodies:
    EventCreate:
      required: true
      content:
        application/json:
[...]
